openapi: 3.0.3
info:
  title: API Documentation (Beta)
  description: API reference for the platform. We are currently starting with
    support for the Heatmaps API.
  version: 1.0.0
servers:
  - url: https://app.crmthrive.com
tags:
  - name: Contacts
    description: >-
      
      Read-only access to CRM contacts. A contact is created for every lead
      (phone

      call, form submission, SMS, email), so this is the canonical people
      directory.
  - name: Form Submissions
    description: |-
      
      Read-only access to website form submissions.
  - name: Heatmap Points
    description: >-
      
      Retrieve individual grid points within a heatmap, including their ranking
      data and organic search results.
  - name: Heatmap Schedules
    description: >-
      
      Create and manage automated heatmap schedules. Schedules run heatmaps on a
      recurring interval (weekly, monthly, or custom).
  - name: Heatmaps
    description: >-
      
      Create, retrieve, re-run and delete heatmaps.


      The core object of a heatmap is a **Google Place** — any business or
      location that has a Google Place ID can be used as the target of a
      heatmap, regardless of whether it is managed by the account. The place is
      always returned in the `place` object.


      If the targeted place is also a **location managed by the account** (i.e.
      connected via Google Business Profile), it is additionally exposed in the
      `location` object for clarity. This allows you to cross-reference heatmap
      results with your managed location data such as review stats, GMB
      insights, and citation subscriptions.


      To get the `place_id` of a managed location, use the [List
      locations](#tag/Heatmaps/GET/public/api/v1/heatmaps/locations) endpoint.
  - name: Phone Calls
    description: |-
      
      Read-only access to phone calls across LeadSnap Phone System, CallRail and
      CallSling (the unified `calls` table).
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: Authenticate using a Sanctum bearer token. Use @unauthenticated on
        a route method to mark public endpoints.
security:
  - default: []
x-tagGroups:
  - name: APIs
    tags:
      - Heatmaps
      - Heatmap Points
      - Heatmap Schedules
      - Contacts
      - Phone Calls
      - Form Submissions
paths:
  /public/api/v1/contacts:
    get:
      summary: List contacts
      operationId: listContacts
      description: >-
        Returns a paginated list of contacts for the authenticated account.
        Supports
        search, filtering, sorting and pagination.
        **Pagination** — fields are returned at the root level alongside `data`:
        `total`, `last_page`, `per_page`, `current_page`. A `meta.summary`
        object carries

        counts for the filtered set: `total`, `spam`, `by_source`,
        `by_last_activity`.
      parameters:
        - in: query
          name: search
          description: Search across first name, last name, email, phone.
          example: john
          required: false
          schema:
            type: string
            description: Search across first name, last name, email, phone.
            example: john
        - in: query
          name: company_id
          description: Filter by company (lead source) id.
          example: 3
          required: false
          schema:
            type: integer
            description: Filter by company (lead source) id.
            example: 3
        - in: query
          name: client
          description: Filter by client (lead group) ids — contacts whose company belongs
            to one of these groups.
          example:
            - 5
          required: false
          schema:
            type: array
            description: Filter by client (lead group) ids — contacts whose company belongs
              to one of these groups.
            example:
              - 5
            items:
              type: integer
        - in: query
          name: source
          description: "Filter by first-touch source. Values: form_submission, phone, sms,
            import, manual, campaign, pipeline. Supports
            `is_any_of|phone,form_submission` and `is_none_of|...`."
          example: form_submission
          required: false
          schema:
            type: string
            description: "Filter by first-touch source. Values: form_submission, phone, sms,
              import, manual, campaign, pipeline. Supports
              `is_any_of|phone,form_submission` and `is_none_of|...`."
            example: form_submission
        - in: query
          name: last_activity_type
          description: 'Filter by the most-recent activity channel. Values: call, sms,
            email, voicemail, form_submission (the UI labels `call` as "Phone").
            Supports `is_any_of|call,sms`.'
          example: call
          required: false
          schema:
            type: string
            description: 'Filter by the most-recent activity channel. Values: call, sms,
              email, voicemail, form_submission (the UI labels `call` as
              "Phone"). Supports `is_any_of|call,sms`.'
            example: call
        - in: query
          name: status
          description: "Filter by status. Accepted: active, disabled."
          example: active
          required: false
          schema:
            type: string
            description: "Filter by status. Accepted: active, disabled."
            example: active
        - in: query
          name: is_spam
          description: Show spam contacts only when true; default hides spam.
          example: false
          required: false
          schema:
            type: boolean
            description: Show spam contacts only when true; default hides spam.
            example: false
        - in: query
          name: tags
          description: Filter by tag names. Supports `is_any_of` / `is_not` / empty
            (`null`) / not-empty (`notnull`).
          example:
            - VIP
          required: false
          schema:
            type: array
            description: Filter by tag names. Supports `is_any_of` / `is_not` / empty
              (`null`) / not-empty (`notnull`).
            example:
              - VIP
            items:
              type: string
        - in: query
          name: created_at_from
          description: date Created-at range start (YYYY-MM-DD).
          example: 2026-01-01
          required: false
          schema:
            type: string
            description: date Created-at range start (YYYY-MM-DD).
            example: 2026-01-01
        - in: query
          name: created_at_to
          description: date Created-at range end (YYYY-MM-DD, inclusive).
          example: 2026-06-30
          required: false
          schema:
            type: string
            description: date Created-at range end (YYYY-MM-DD, inclusive).
            example: 2026-06-30
        - in: query
          name: last_activity_from
          description: date Last-activity range start (YYYY-MM-DD).
          example: 2026-01-01
          required: false
          schema:
            type: string
            description: date Last-activity range start (YYYY-MM-DD).
            example: 2026-01-01
        - in: query
          name: last_activity_to
          description: date Last-activity range end (YYYY-MM-DD, inclusive).
          example: 2026-06-30
          required: false
          schema:
            type: string
            description: date Last-activity range end (YYYY-MM-DD, inclusive).
            example: 2026-06-30
        - in: query
          name: sort
          description: "Sort field; prefix with `-` for descending. Accepted: name, email,
            phone, company, created_at."
          example: -created_at
          required: false
          schema:
            type: string
            description: "Sort field; prefix with `-` for descending. Accepted: name, email,
              phone, company, created_at."
            example: -created_at
        - in: query
          name: per_page
          description: Results per page (default 25, max 100).
          example: 25
          required: false
          schema:
            type: integer
            description: Results per page (default 25, max 100).
            example: 25
        - in: query
          name: page
          description: Page number.
          example: 1
          required: false
          schema:
            type: integer
            description: Page number.
            example: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 62967
                      account_id: 19
                      assigned_user_id: null
                      company_id: 214
                      first_name: John
                      last_name: Doe
                      email: john.doe@example.com
                      phone: "5555550123"
                      address: null
                      city: ""
                      state: ""
                      zipcode: ""
                      other_info: null
                      website_url: ""
                      business_name: ""
                      facebook_profile: ""
                      ig_profile: ""
                      alternative_phone: ""
                      disabled: 0
                      is_spam: false
                      spam_reason: 0
                      imported: 0
                      do_not_disturb: 0
                      date_imported: null
                      source: phone
                      last_activity_at: 2026-06-24T14:05:00.000000Z
                      last_activity_type: call
                      deleted_at: null
                      created_at: 2026-06-01T09:12:00.000000Z
                      updated_at: 2026-06-24T14:05:00.000000Z
                      initials: JD
                      company:
                        id: 214
                        name: Example Tree Service
                        website: https://example.com/
                        phone: null
                        address: null
                        image: null
                        activated: 0
                        created_at: 2021-08-29T19:47:15.000000Z
                        updated_at: 2021-08-29T19:47:15.000000Z
                        deleted_at: null
                        lead_group_id: 23
                        account_id: 19
                        timezone: null
                        country: null
                      photo: null
                      tags:
                        - id: 5
                          name: VIP
                          color: "#0a9abe"
                    - id: 62968
                      account_id: 19
                      assigned_user_id: null
                      company_id: 214
                      first_name: Jane
                      last_name: Roe
                      email: jane.roe@example.com
                      phone: "5555550124"
                      address: null
                      city: ""
                      state: ""
                      zipcode: ""
                      other_info: null
                      website_url: ""
                      business_name: ""
                      facebook_profile: ""
                      ig_profile: ""
                      alternative_phone: ""
                      disabled: 0
                      is_spam: false
                      spam_reason: 0
                      imported: 0
                      do_not_disturb: 0
                      date_imported: null
                      source: form_submission
                      last_activity_at: 2026-06-23T11:30:00.000000Z
                      last_activity_type: form_submission
                      deleted_at: null
                      created_at: 2026-06-10T16:40:00.000000Z
                      updated_at: 2026-06-23T11:30:00.000000Z
                      initials: JR
                      company:
                        id: 214
                        name: Example Tree Service
                        website: https://example.com/
                        phone: null
                        address: null
                        image: null
                        activated: 0
                        created_at: 2021-08-29T19:47:15.000000Z
                        updated_at: 2021-08-29T19:47:15.000000Z
                        deleted_at: null
                        lead_group_id: 23
                        account_id: 19
                        timezone: null
                        country: null
                      photo: null
                      tags: []
                    - id: 62969
                      account_id: 19
                      assigned_user_id: null
                      company_id: 215
                      first_name: Sam
                      last_name: Lee
                      email: sam.lee@example.com
                      phone: "5555550125"
                      address: null
                      city: ""
                      state: ""
                      zipcode: ""
                      other_info: null
                      website_url: ""
                      business_name: ""
                      facebook_profile: ""
                      ig_profile: ""
                      alternative_phone: ""
                      disabled: 0
                      is_spam: false
                      spam_reason: 0
                      imported: 0
                      do_not_disturb: 0
                      date_imported: null
                      source: sms
                      last_activity_at: 2026-06-22T08:15:00.000000Z
                      last_activity_type: sms
                      deleted_at: null
                      created_at: 2026-06-15T13:05:00.000000Z
                      updated_at: 2026-06-22T08:15:00.000000Z
                      initials: SL
                      company:
                        id: 215
                        name: Example Drywall
                        website: https://example.com/
                        phone: null
                        address: null
                        image: null
                        activated: 0
                        created_at: 2021-09-02T10:00:00.000000Z
                        updated_at: 2021-09-02T10:00:00.000000Z
                        deleted_at: null
                        lead_group_id: 23
                        account_id: 19
                        timezone: null
                        country: null
                      photo: null
                      tags: []
                    - id: 62970
                      account_id: 19
                      assigned_user_id: null
                      company_id: 214
                      first_name: Mia
                      last_name: Khan
                      email: mia.khan@example.com
                      phone: "5555550126"
                      address: null
                      city: ""
                      state: ""
                      zipcode: ""
                      other_info: null
                      website_url: ""
                      business_name: ""
                      facebook_profile: ""
                      ig_profile: ""
                      alternative_phone: ""
                      disabled: 0
                      is_spam: false
                      spam_reason: 0
                      imported: 0
                      do_not_disturb: 0
                      date_imported: null
                      source: form_submission
                      last_activity_at: 2026-06-21T19:50:00.000000Z
                      last_activity_type: email
                      deleted_at: null
                      created_at: 2026-05-28T07:25:00.000000Z
                      updated_at: 2026-06-21T19:50:00.000000Z
                      initials: MK
                      company:
                        id: 214
                        name: Example Tree Service
                        website: https://example.com/
                        phone: null
                        address: null
                        image: null
                        activated: 0
                        created_at: 2021-08-29T19:47:15.000000Z
                        updated_at: 2021-08-29T19:47:15.000000Z
                        deleted_at: null
                        lead_group_id: 23
                        account_id: 19
                        timezone: null
                        country: null
                      photo: null
                      tags: []
                    - id: 62971
                      account_id: 19
                      assigned_user_id: null
                      company_id: 215
                      first_name: Leo
                      last_name: Diaz
                      email: leo.diaz@example.com
                      phone: "5555550127"
                      address: null
                      city: ""
                      state: ""
                      zipcode: ""
                      other_info: null
                      website_url: ""
                      business_name: ""
                      facebook_profile: ""
                      ig_profile: ""
                      alternative_phone: ""
                      disabled: 0
                      is_spam: false
                      spam_reason: 0
                      imported: 0
                      do_not_disturb: 0
                      date_imported: null
                      source: phone
                      last_activity_at: 2026-06-20T17:35:00.000000Z
                      last_activity_type: voicemail
                      deleted_at: null
                      created_at: 2026-06-05T12:00:00.000000Z
                      updated_at: 2026-06-20T17:35:00.000000Z
                      initials: LD
                      company:
                        id: 215
                        name: Example Drywall
                        website: https://example.com/
                        phone: null
                        address: null
                        image: null
                        activated: 0
                        created_at: 2021-09-02T10:00:00.000000Z
                        updated_at: 2021-09-02T10:00:00.000000Z
                        deleted_at: null
                        lead_group_id: 23
                        account_id: 19
                        timezone: null
                        country: null
                      photo: null
                      tags: []
                  total: 5
                  per_page: 25
                  current_page: 1
                  last_page: 1
                  meta:
                    summary:
                      total: 5
                      spam: 0
                      by_source:
                        phone: 2
                        form_submission: 2
                        sms: 1
                      by_last_activity:
                        call: 1
                        form_submission: 1
                        sms: 1
                        email: 1
                        voicemail: 1
                properties:
                  data:
                    type: array
                    example:
                      - id: 62967
                        account_id: 19
                        assigned_user_id: null
                        company_id: 214
                        first_name: John
                        last_name: Doe
                        email: john.doe@example.com
                        phone: "5555550123"
                        address: null
                        city: ""
                        state: ""
                        zipcode: ""
                        other_info: null
                        website_url: ""
                        business_name: ""
                        facebook_profile: ""
                        ig_profile: ""
                        alternative_phone: ""
                        disabled: 0
                        is_spam: false
                        spam_reason: 0
                        imported: 0
                        do_not_disturb: 0
                        date_imported: null
                        source: phone
                        last_activity_at: 2026-06-24T14:05:00.000000Z
                        last_activity_type: call
                        deleted_at: null
                        created_at: 2026-06-01T09:12:00.000000Z
                        updated_at: 2026-06-24T14:05:00.000000Z
                        initials: JD
                        company:
                          id: 214
                          name: Example Tree Service
                          website: https://example.com/
                          phone: null
                          address: null
                          image: null
                          activated: 0
                          created_at: 2021-08-29T19:47:15.000000Z
                          updated_at: 2021-08-29T19:47:15.000000Z
                          deleted_at: null
                          lead_group_id: 23
                          account_id: 19
                          timezone: null
                          country: null
                        photo: null
                        tags:
                          - id: 5
                            name: VIP
                            color: "#0a9abe"
                      - id: 62968
                        account_id: 19
                        assigned_user_id: null
                        company_id: 214
                        first_name: Jane
                        last_name: Roe
                        email: jane.roe@example.com
                        phone: "5555550124"
                        address: null
                        city: ""
                        state: ""
                        zipcode: ""
                        other_info: null
                        website_url: ""
                        business_name: ""
                        facebook_profile: ""
                        ig_profile: ""
                        alternative_phone: ""
                        disabled: 0
                        is_spam: false
                        spam_reason: 0
                        imported: 0
                        do_not_disturb: 0
                        date_imported: null
                        source: form_submission
                        last_activity_at: 2026-06-23T11:30:00.000000Z
                        last_activity_type: form_submission
                        deleted_at: null
                        created_at: 2026-06-10T16:40:00.000000Z
                        updated_at: 2026-06-23T11:30:00.000000Z
                        initials: JR
                        company:
                          id: 214
                          name: Example Tree Service
                          website: https://example.com/
                          phone: null
                          address: null
                          image: null
                          activated: 0
                          created_at: 2021-08-29T19:47:15.000000Z
                          updated_at: 2021-08-29T19:47:15.000000Z
                          deleted_at: null
                          lead_group_id: 23
                          account_id: 19
                          timezone: null
                          country: null
                        photo: null
                        tags: []
                      - id: 62969
                        account_id: 19
                        assigned_user_id: null
                        company_id: 215
                        first_name: Sam
                        last_name: Lee
                        email: sam.lee@example.com
                        phone: "5555550125"
                        address: null
                        city: ""
                        state: ""
                        zipcode: ""
                        other_info: null
                        website_url: ""
                        business_name: ""
                        facebook_profile: ""
                        ig_profile: ""
                        alternative_phone: ""
                        disabled: 0
                        is_spam: false
                        spam_reason: 0
                        imported: 0
                        do_not_disturb: 0
                        date_imported: null
                        source: sms
                        last_activity_at: 2026-06-22T08:15:00.000000Z
                        last_activity_type: sms
                        deleted_at: null
                        created_at: 2026-06-15T13:05:00.000000Z
                        updated_at: 2026-06-22T08:15:00.000000Z
                        initials: SL
                        company:
                          id: 215
                          name: Example Drywall
                          website: https://example.com/
                          phone: null
                          address: null
                          image: null
                          activated: 0
                          created_at: 2021-09-02T10:00:00.000000Z
                          updated_at: 2021-09-02T10:00:00.000000Z
                          deleted_at: null
                          lead_group_id: 23
                          account_id: 19
                          timezone: null
                          country: null
                        photo: null
                        tags: []
                      - id: 62970
                        account_id: 19
                        assigned_user_id: null
                        company_id: 214
                        first_name: Mia
                        last_name: Khan
                        email: mia.khan@example.com
                        phone: "5555550126"
                        address: null
                        city: ""
                        state: ""
                        zipcode: ""
                        other_info: null
                        website_url: ""
                        business_name: ""
                        facebook_profile: ""
                        ig_profile: ""
                        alternative_phone: ""
                        disabled: 0
                        is_spam: false
                        spam_reason: 0
                        imported: 0
                        do_not_disturb: 0
                        date_imported: null
                        source: form_submission
                        last_activity_at: 2026-06-21T19:50:00.000000Z
                        last_activity_type: email
                        deleted_at: null
                        created_at: 2026-05-28T07:25:00.000000Z
                        updated_at: 2026-06-21T19:50:00.000000Z
                        initials: MK
                        company:
                          id: 214
                          name: Example Tree Service
                          website: https://example.com/
                          phone: null
                          address: null
                          image: null
                          activated: 0
                          created_at: 2021-08-29T19:47:15.000000Z
                          updated_at: 2021-08-29T19:47:15.000000Z
                          deleted_at: null
                          lead_group_id: 23
                          account_id: 19
                          timezone: null
                          country: null
                        photo: null
                        tags: []
                      - id: 62971
                        account_id: 19
                        assigned_user_id: null
                        company_id: 215
                        first_name: Leo
                        last_name: Diaz
                        email: leo.diaz@example.com
                        phone: "5555550127"
                        address: null
                        city: ""
                        state: ""
                        zipcode: ""
                        other_info: null
                        website_url: ""
                        business_name: ""
                        facebook_profile: ""
                        ig_profile: ""
                        alternative_phone: ""
                        disabled: 0
                        is_spam: false
                        spam_reason: 0
                        imported: 0
                        do_not_disturb: 0
                        date_imported: null
                        source: phone
                        last_activity_at: 2026-06-20T17:35:00.000000Z
                        last_activity_type: voicemail
                        deleted_at: null
                        created_at: 2026-06-05T12:00:00.000000Z
                        updated_at: 2026-06-20T17:35:00.000000Z
                        initials: LD
                        company:
                          id: 215
                          name: Example Drywall
                          website: https://example.com/
                          phone: null
                          address: null
                          image: null
                          activated: 0
                          created_at: 2021-09-02T10:00:00.000000Z
                          updated_at: 2021-09-02T10:00:00.000000Z
                          deleted_at: null
                          lead_group_id: 23
                          account_id: 19
                          timezone: null
                          country: null
                        photo: null
                        tags: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 62967
                        account_id:
                          type: integer
                          example: 19
                        assigned_user_id:
                          type: string
                          example: null
                          nullable: true
                        company_id:
                          type: integer
                          example: 214
                        first_name:
                          type: string
                          example: John
                        last_name:
                          type: string
                          example: Doe
                        email:
                          type: string
                          example: john.doe@example.com
                        phone:
                          type: string
                          example: "5555550123"
                        address:
                          type: string
                          example: null
                          nullable: true
                        city:
                          type: string
                          example: ""
                        state:
                          type: string
                          example: ""
                        zipcode:
                          type: string
                          example: ""
                        other_info:
                          type: string
                          example: null
                          nullable: true
                        website_url:
                          type: string
                          example: ""
                        business_name:
                          type: string
                          example: ""
                        facebook_profile:
                          type: string
                          example: ""
                        ig_profile:
                          type: string
                          example: ""
                        alternative_phone:
                          type: string
                          example: ""
                        disabled:
                          type: integer
                          example: 0
                        is_spam:
                          type: boolean
                          example: false
                        spam_reason:
                          type: integer
                          example: 0
                        imported:
                          type: integer
                          example: 0
                        do_not_disturb:
                          type: integer
                          example: 0
                        date_imported:
                          type: string
                          example: null
                          nullable: true
                        source:
                          type: string
                          example: phone
                        last_activity_at:
                          type: string
                          example: 2026-06-24T14:05:00.000000Z
                        last_activity_type:
                          type: string
                          example: call
                        deleted_at:
                          type: string
                          example: null
                          nullable: true
                        created_at:
                          type: string
                          example: 2026-06-01T09:12:00.000000Z
                        updated_at:
                          type: string
                          example: 2026-06-24T14:05:00.000000Z
                        initials:
                          type: string
                          example: JD
                        company:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 214
                            name:
                              type: string
                              example: Example Tree Service
                            website:
                              type: string
                              example: https://example.com/
                            phone:
                              type: string
                              example: null
                              nullable: true
                            address:
                              type: string
                              example: null
                              nullable: true
                            image:
                              type: string
                              example: null
                              nullable: true
                            activated:
                              type: integer
                              example: 0
                            created_at:
                              type: string
                              example: 2021-08-29T19:47:15.000000Z
                            updated_at:
                              type: string
                              example: 2021-08-29T19:47:15.000000Z
                            deleted_at:
                              type: string
                              example: null
                              nullable: true
                            lead_group_id:
                              type: integer
                              example: 23
                            account_id:
                              type: integer
                              example: 19
                            timezone:
                              type: string
                              example: null
                              nullable: true
                            country:
                              type: string
                              example: null
                              nullable: true
                        photo:
                          type: string
                          example: null
                          nullable: true
                        tags:
                          type: array
                          example:
                            - id: 5
                              name: VIP
                              color: "#0a9abe"
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 5
                              name:
                                type: string
                                example: VIP
                              color:
                                type: string
                                example: "#0a9abe"
                  total:
                    type: integer
                    example: 5
                  per_page:
                    type: integer
                    example: 25
                  current_page:
                    type: integer
                    example: 1
                  last_page:
                    type: integer
                    example: 1
                  meta:
                    type: object
                    properties:
                      summary:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 5
                          spam:
                            type: integer
                            example: 0
                          by_source:
                            type: object
                            properties:
                              phone:
                                type: integer
                                example: 2
                              form_submission:
                                type: integer
                                example: 2
                              sms:
                                type: integer
                                example: 1
                          by_last_activity:
                            type: object
                            properties:
                              call:
                                type: integer
                                example: 1
                              form_submission:
                                type: integer
                                example: 1
                              sms:
                                type: integer
                                example: 1
                              email:
                                type: integer
                                example: 1
                              voicemail:
                                type: integer
                                example: 1
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  error: Unauthenticated
                properties:
                  error:
                    type: string
                    example: Unauthenticated
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                example:
                  error: An unexpected error occurred.
                properties:
                  error:
                    type: string
                    example: An unexpected error occurred.
      tags:
        - Contacts
  /public/api/v1/contacts/{contactId}:
    get:
      summary: Get contact
      operationId: getContact
      description: >-
        Returns a single contact (account-scoped) with its `tags` and a derived

        `contact_type` (`Lead` when the contact originated from a lead, else
        `null`).
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 62967
                  account_id: 19
                  assigned_user_id: null
                  company_id: 214
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                  phone: "5555550123"
                  address: null
                  city: ""
                  state: ""
                  zipcode: ""
                  other_info: null
                  website_url: ""
                  business_name: ""
                  facebook_profile: ""
                  ig_profile: ""
                  alternative_phone: ""
                  disabled: 0
                  is_spam: false
                  spam_reason: 0
                  imported: 0
                  do_not_disturb: 0
                  date_imported: null
                  source: form_submission
                  last_activity_at: 2022-09-28T18:14:47.000000Z
                  last_activity_type: form_submission
                  deleted_at: null
                  created_at: 2022-09-28T18:14:47.000000Z
                  updated_at: 2022-09-28T18:14:47.000000Z
                  initials: JD
                  company:
                    id: 214
                    name: Example Auto Glass
                    website: https://example.com/
                    phone: null
                    address: null
                    image: null
                    activated: 0
                    created_at: 2021-08-29T19:47:15.000000Z
                    updated_at: 2021-08-29T19:47:15.000000Z
                    deleted_at: null
                    lead_group_id: 23
                    account_id: 19
                    timezone: null
                    country: null
                  photo: null
                  lead:
                    id: 202782
                    last_changed_by: 0
                    created_at: 2022-09-28T18:14:42.000000Z
                    updated_at: 2022-09-28T18:14:47.000000Z
                    group_values:
                      pdf-city: ""
                      pdf-email: john.doe@example.com
                      pdf-phone: 555-555-0123
                      pdf-state: ""
                      pdf-zipcode: ""
                      pdf-progress: forwarded
                      pdf-lead_type: form submission
                    additional_data:
                      your-city:
                        value: 123 Example St, Sampletown, CA 90001
                        name: your-city
                        basetype: text
                        raw_values: []
                        label: your city
                        show: show
                      your-message:
                        value: Windshield replacement
                        name: your-message
                        basetype: text
                        raw_values: []
                        label: your message
                        show: show
                      question:
                        value: How much to replace a windshield on a 2012 pickup truck
                        name: question
                        basetype: text
                        raw_values: []
                        label: question
                        show: show
                      name:
                        value: John Doe
                        name: name
                        label: name
                        show: show
                      address:
                        value: []
                        name: address
                        label: address
                        show: show
                    type: 0
                    progress: 0
                    created_timestamp: 0
                    lead_source_id: 214
                    deleted_at: null
                    lead_group_id: 23
                    account_id: 19
                    is_spam: 0
                    spam_reason: 0
                    embed_restriction_flag: 0
                    contact_id: 62967
                    name: ""
                    first_name: ""
                    last_name: ""
                    note: Windshield replacement
                    map_link: false
                    email: john.doe@example.com
                    phone: 555-555-0123
                    spam_reason_text: false
                    lead_type: form submission
                  tags:
                    - VIP
                  contact_type: Lead
                properties:
                  id:
                    type: integer
                    example: 62967
                  account_id:
                    type: integer
                    example: 19
                  assigned_user_id:
                    type: string
                    example: null
                    nullable: true
                  company_id:
                    type: integer
                    example: 214
                  first_name:
                    type: string
                    example: John
                  last_name:
                    type: string
                    example: Doe
                  email:
                    type: string
                    example: john.doe@example.com
                  phone:
                    type: string
                    example: "5555550123"
                  address:
                    type: string
                    example: null
                    nullable: true
                  city:
                    type: string
                    example: ""
                  state:
                    type: string
                    example: ""
                  zipcode:
                    type: string
                    example: ""
                  other_info:
                    type: string
                    example: null
                    nullable: true
                  website_url:
                    type: string
                    example: ""
                  business_name:
                    type: string
                    example: ""
                  facebook_profile:
                    type: string
                    example: ""
                  ig_profile:
                    type: string
                    example: ""
                  alternative_phone:
                    type: string
                    example: ""
                  disabled:
                    type: integer
                    example: 0
                  is_spam:
                    type: boolean
                    example: false
                  spam_reason:
                    type: integer
                    example: 0
                  imported:
                    type: integer
                    example: 0
                  do_not_disturb:
                    type: integer
                    example: 0
                  date_imported:
                    type: string
                    example: null
                    nullable: true
                  source:
                    type: string
                    example: form_submission
                  last_activity_at:
                    type: string
                    example: 2022-09-28T18:14:47.000000Z
                  last_activity_type:
                    type: string
                    example: form_submission
                  deleted_at:
                    type: string
                    example: null
                    nullable: true
                  created_at:
                    type: string
                    example: 2022-09-28T18:14:47.000000Z
                  updated_at:
                    type: string
                    example: 2022-09-28T18:14:47.000000Z
                  initials:
                    type: string
                    example: JD
                  company:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 214
                      name:
                        type: string
                        example: Example Auto Glass
                      website:
                        type: string
                        example: https://example.com/
                      phone:
                        type: string
                        example: null
                        nullable: true
                      address:
                        type: string
                        example: null
                        nullable: true
                      image:
                        type: string
                        example: null
                        nullable: true
                      activated:
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        example: 2021-08-29T19:47:15.000000Z
                      updated_at:
                        type: string
                        example: 2021-08-29T19:47:15.000000Z
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                      lead_group_id:
                        type: integer
                        example: 23
                      account_id:
                        type: integer
                        example: 19
                      timezone:
                        type: string
                        example: null
                        nullable: true
                      country:
                        type: string
                        example: null
                        nullable: true
                  photo:
                    type: string
                    example: null
                    nullable: true
                  lead:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 202782
                      last_changed_by:
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        example: 2022-09-28T18:14:42.000000Z
                      updated_at:
                        type: string
                        example: 2022-09-28T18:14:47.000000Z
                      group_values:
                        type: object
                        properties:
                          pdf-city:
                            type: string
                            example: ""
                          pdf-email:
                            type: string
                            example: john.doe@example.com
                          pdf-phone:
                            type: string
                            example: 555-555-0123
                          pdf-state:
                            type: string
                            example: ""
                          pdf-zipcode:
                            type: string
                            example: ""
                          pdf-progress:
                            type: string
                            example: forwarded
                          pdf-lead_type:
                            type: string
                            example: form submission
                      additional_data:
                        type: object
                        properties:
                          your-city:
                            type: object
                            properties:
                              value:
                                type: string
                                example: 123 Example St, Sampletown, CA 90001
                              name:
                                type: string
                                example: your-city
                              basetype:
                                type: string
                                example: text
                              raw_values:
                                type: array
                                example: []
                              label:
                                type: string
                                example: your city
                              show:
                                type: string
                                example: show
                          your-message:
                            type: object
                            properties:
                              value:
                                type: string
                                example: Windshield replacement
                              name:
                                type: string
                                example: your-message
                              basetype:
                                type: string
                                example: text
                              raw_values:
                                type: array
                                example: []
                              label:
                                type: string
                                example: your message
                              show:
                                type: string
                                example: show
                          question:
                            type: object
                            properties:
                              value:
                                type: string
                                example: How much to replace a windshield on a 2012 pickup truck
                              name:
                                type: string
                                example: question
                              basetype:
                                type: string
                                example: text
                              raw_values:
                                type: array
                                example: []
                              label:
                                type: string
                                example: question
                              show:
                                type: string
                                example: show
                          name:
                            type: object
                            properties:
                              value:
                                type: string
                                example: John Doe
                              name:
                                type: string
                                example: name
                              label:
                                type: string
                                example: name
                              show:
                                type: string
                                example: show
                          address:
                            type: object
                            properties:
                              value:
                                type: array
                                example: []
                              name:
                                type: string
                                example: address
                              label:
                                type: string
                                example: address
                              show:
                                type: string
                                example: show
                      type:
                        type: integer
                        example: 0
                      progress:
                        type: integer
                        example: 0
                      created_timestamp:
                        type: integer
                        example: 0
                      lead_source_id:
                        type: integer
                        example: 214
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                      lead_group_id:
                        type: integer
                        example: 23
                      account_id:
                        type: integer
                        example: 19
                      is_spam:
                        type: integer
                        example: 0
                      spam_reason:
                        type: integer
                        example: 0
                      embed_restriction_flag:
                        type: integer
                        example: 0
                      contact_id:
                        type: integer
                        example: 62967
                      name:
                        type: string
                        example: ""
                      first_name:
                        type: string
                        example: ""
                      last_name:
                        type: string
                        example: ""
                      note:
                        type: string
                        example: Windshield replacement
                      map_link:
                        type: boolean
                        example: false
                      email:
                        type: string
                        example: john.doe@example.com
                      phone:
                        type: string
                        example: 555-555-0123
                      spam_reason_text:
                        type: boolean
                        example: false
                      lead_type:
                        type: string
                        example: form submission
                  tags:
                    type: array
                    example:
                      - VIP
                    items:
                      type: string
                  contact_type:
                    type: string
                    example: Lead
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  error: Unauthenticated
                properties:
                  error:
                    type: string
                    example: Unauthenticated
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: No results found.
                properties:
                  message:
                    type: string
                    example: No results found.
      tags:
        - Contacts
    parameters:
      - in: path
        name: contactId
        description: The contact id.
        example: 42
        required: true
        schema:
          type: integer
  /public/api/v1/contacts/{contactId}/timeline:
    get:
      summary: Contact timeline
      operationId: contactTimeline
      description: >-
        Returns a contact's activity timeline (form submissions, notes, tasks,
        documents,

        pipeline activity), newest first. **Cursor-paginated** — pass the
        response's

        `meta.next_cursor` back as `cursor` to fetch the next page.
      parameters:
        - in: query
          name: type
          description: "Filter to one activity type. Accepted: all, form_submission, note,
            document, task, pipeline. Default all."
          example: all
          required: false
          schema:
            type: string
            description: "Filter to one activity type. Accepted: all, form_submission, note,
              document, task, pipeline. Default all."
            example: all
        - in: query
          name: per_page
          description: Items per page (default 25, max 100).
          example: 25
          required: false
          schema:
            type: integer
            description: Items per page (default 25, max 100).
            example: 25
        - in: query
          name: cursor
          description: Opaque cursor from a previous response's `meta.next_cursor` (omit
            for the first page).
          example: eyJ0IjoiMjAyNi0wNi0yNCAxNDowNTowMCIsInMiOiJub3RlIiwiaSI6MX0=
          required: false
          schema:
            type: string
            description: Opaque cursor from a previous response's `meta.next_cursor` (omit
              for the first page).
            example: eyJ0IjoiMjAyNi0wNi0yNCAxNDowNTowMCIsInMiOiJub3RlIiwiaSI6MX0=
      responses:
        "200":
          description: Mixed timeline
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: note_62
                      type: note
                      title: Follow-up call
                      description: <p>Spoke with the customer about their quote.</p>
                      created_at: 2026-06-25T11:10:48+00:00
                      direction: null
                      metadata:
                        note_id: 62
                        title: Follow-up call
                        body_html: <p>Spoke with the customer about their quote.</p>
                        user_id: 996
                        author_id: 996
                        author_name: Jane Agent
                        created_at: 2026-06-25T11:10:48+00:00
                        updated_at: 2026-06-25T11:10:48+00:00
                        last_edited_at: null
                        source: note
                    - id: document_4501
                      type: document
                      title: Document attached
                      description: proposal.pdf
                      created_at: 2026-06-24T09:15:00+00:00
                      direction: null
                      metadata:
                        file_id: 4501
                        document_id: 1203
                        file_name: proposal.pdf
                        mime_type: application/pdf
                        type: pdf
                        size: 53124
                        formatted_size: 51.88 KB
                        uploaded_at: 2026-06-24T09:15:00+00:00
                        view_url: /api/v1/crm/contacts/42/documents/4501/view
                        download_url: /api/v1/crm/contacts/42/documents/4501/download
                        source: document
                    - id: pipeline_88
                      type: pipeline
                      title: Deal stage updated
                      description: Moved from New to Contacted
                      created_at: 2026-06-23T16:40:00+00:00
                      direction: null
                      metadata:
                        extra_properties:
                          old:
                            stage: New
                          attributes:
                            stage: Contacted
                        source: pipeline
                    - id: form_202782
                      type: form_submission
                      title: Form Submission
                      description: null
                      created_at: 2022-09-28T18:14:42+00:00
                      direction: inbound
                      metadata:
                        contact:
                          id: 42
                          name: John Doe
                          email: john.doe@example.com
                          initials: JD
                        summary_fields:
                          - key: lead_type
                            label: Lead Type
                            value: form submission
                          - key: progress
                            label: Progress
                            value: forwarded
                          - key: message
                            label: Message
                            value: Quote request
                        fields:
                          - key: pdf-email
                            label: Email
                            value: john.doe@example.com
                          - key: pdf-phone
                            label: Phone
                            value: 555-555-0123
                          - key: pdf-progress
                            label: Progress
                            value: forwarded
                          - key: pdf-lead_type
                            label: Lead Type
                            value: form submission
                          - key: your-city
                            label: your city
                            value: 123 Example St, Sampletown, CA 90001
                          - key: your-message
                            label: your message
                            value: Quote request
                          - key: question
                            label: question
                            value: How much for a standard service?
                          - key: name
                            label: name
                            value: John Doe
                          - key: lead_type
                            label: Lead Type
                            value: form submission
                          - key: progress
                            label: Progress
                            value: forwarded
                          - key: message
                            label: Message
                            value: Quote request
                        identifiers:
                          lead_id: 202782
                          lead_type: form submission
                          progress: forwarded
                          message: Quote request
                          source_id: 214
                          source_name: Example Auto Glass
                          source: form_submission
                        source: form_submission
                    - id: task_60
                      type: task
                      title: Follow up with contact
                      description: ""
                      created_at: 2022-09-11T14:36:45+00:00
                      direction: null
                      metadata:
                        priority: 2
                        due_at: 2022-09-12 06:00:00
                        completed_at: null
                        assigned_to: 818
                        source: task
                  meta:
                    next_cursor: null
                    has_more: false
                    per_page: 25
                properties:
                  data:
                    type: array
                    example:
                      - id: note_62
                        type: note
                        title: Follow-up call
                        description: <p>Spoke with the customer about their quote.</p>
                        created_at: 2026-06-25T11:10:48+00:00
                        direction: null
                        metadata:
                          note_id: 62
                          title: Follow-up call
                          body_html: <p>Spoke with the customer about their quote.</p>
                          user_id: 996
                          author_id: 996
                          author_name: Jane Agent
                          created_at: 2026-06-25T11:10:48+00:00
                          updated_at: 2026-06-25T11:10:48+00:00
                          last_edited_at: null
                          source: note
                      - id: document_4501
                        type: document
                        title: Document attached
                        description: proposal.pdf
                        created_at: 2026-06-24T09:15:00+00:00
                        direction: null
                        metadata:
                          file_id: 4501
                          document_id: 1203
                          file_name: proposal.pdf
                          mime_type: application/pdf
                          type: pdf
                          size: 53124
                          formatted_size: 51.88 KB
                          uploaded_at: 2026-06-24T09:15:00+00:00
                          view_url: /api/v1/crm/contacts/42/documents/4501/view
                          download_url: /api/v1/crm/contacts/42/documents/4501/download
                          source: document
                      - id: pipeline_88
                        type: pipeline
                        title: Deal stage updated
                        description: Moved from New to Contacted
                        created_at: 2026-06-23T16:40:00+00:00
                        direction: null
                        metadata:
                          extra_properties:
                            old:
                              stage: New
                            attributes:
                              stage: Contacted
                          source: pipeline
                      - id: form_202782
                        type: form_submission
                        title: Form Submission
                        description: null
                        created_at: 2022-09-28T18:14:42+00:00
                        direction: inbound
                        metadata:
                          contact:
                            id: 42
                            name: John Doe
                            email: john.doe@example.com
                            initials: JD
                          summary_fields:
                            - key: lead_type
                              label: Lead Type
                              value: form submission
                            - key: progress
                              label: Progress
                              value: forwarded
                            - key: message
                              label: Message
                              value: Quote request
                          fields:
                            - key: pdf-email
                              label: Email
                              value: john.doe@example.com
                            - key: pdf-phone
                              label: Phone
                              value: 555-555-0123
                            - key: pdf-progress
                              label: Progress
                              value: forwarded
                            - key: pdf-lead_type
                              label: Lead Type
                              value: form submission
                            - key: your-city
                              label: your city
                              value: 123 Example St, Sampletown, CA 90001
                            - key: your-message
                              label: your message
                              value: Quote request
                            - key: question
                              label: question
                              value: How much for a standard service?
                            - key: name
                              label: name
                              value: John Doe
                            - key: lead_type
                              label: Lead Type
                              value: form submission
                            - key: progress
                              label: Progress
                              value: forwarded
                            - key: message
                              label: Message
                              value: Quote request
                          identifiers:
                            lead_id: 202782
                            lead_type: form submission
                            progress: forwarded
                            message: Quote request
                            source_id: 214
                            source_name: Example Auto Glass
                            source: form_submission
                          source: form_submission
                      - id: task_60
                        type: task
                        title: Follow up with contact
                        description: ""
                        created_at: 2022-09-11T14:36:45+00:00
                        direction: null
                        metadata:
                          priority: 2
                          due_at: 2022-09-12 06:00:00
                          completed_at: null
                          assigned_to: 818
                          source: task
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: note_62
                        type:
                          type: string
                          example: note
                        title:
                          type: string
                          example: Follow-up call
                        description:
                          type: string
                          example: <p>Spoke with the customer about their quote.</p>
                        created_at:
                          type: string
                          example: 2026-06-25T11:10:48+00:00
                        direction:
                          type: string
                          example: null
                          nullable: true
                        metadata:
                          type: object
                          properties:
                            note_id:
                              type: integer
                              example: 62
                            title:
                              type: string
                              example: Follow-up call
                            body_html:
                              type: string
                              example: <p>Spoke with the customer about their quote.</p>
                            user_id:
                              type: integer
                              example: 996
                            author_id:
                              type: integer
                              example: 996
                            author_name:
                              type: string
                              example: Jane Agent
                            created_at:
                              type: string
                              example: 2026-06-25T11:10:48+00:00
                            updated_at:
                              type: string
                              example: 2026-06-25T11:10:48+00:00
                            last_edited_at:
                              type: string
                              example: null
                              nullable: true
                            source:
                              type: string
                              example: note
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type: string
                        example: null
                        nullable: true
                      has_more:
                        type: boolean
                        example: false
                      per_page:
                        type: integer
                        example: 25
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  error: Unauthenticated
                properties:
                  error:
                    type: string
                    example: Unauthenticated
        "404":
          description: Contact not found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: No results found.
                properties:
                  message:
                    type: string
                    example: No results found.
      tags:
        - Contacts
    parameters:
      - in: path
        name: contactId
        description: The contact id.
        example: 42
        required: true
        schema:
          type: integer
  /public/api/v1/contacts/{contactId}/conversations:
    get:
      summary: Contact conversations
      operationId: contactConversations
      description: >-
        Returns a contact's messages for a single channel, newest first.
        **Page-paginated.**

        The `call` channel returns `content`/`sender`/`recipient` as `null` and
        carries the

        call details under `metadata`.
      parameters:
        - in: query
          name: channel
          description: "Channel to return. Accepted: sms, email, call. Default email."
          example: sms
          required: false
          schema:
            type: string
            description: "Channel to return. Accepted: sms, email, call. Default email."
            example: sms
        - in: query
          name: page
          description: Page number (default 1).
          example: 1
          required: false
          schema:
            type: integer
            description: Page number (default 1).
            example: 1
        - in: query
          name: per_page
          description: Items per page (default 25, max 100).
          example: 25
          required: false
          schema:
            type: integer
            description: Items per page (default 25, max 100).
            example: 25
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        channel:
                          type: string
                        direction:
                          type: string
                        content:
                          type: string
                          nullable: true
                        sender:
                          type: string
                          nullable: true
                        recipient:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                        metadata:
                          type: object
                          properties:
                            duration:
                              type: integer
                            recording:
                              type: integer
                            answered:
                              type: integer
                            voicemail:
                              type: integer
                            status:
                              type: integer
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      per_page:
                        type: integer
                      current_page:
                        type: integer
                      last_page:
                        type: integer
                      has_more:
                        type: boolean
              examples:
                Call channel:
                  summary: Call channel
                  value:
                    data:
                      - id: call_77373
                        channel: call
                        direction: outbound
                        content: null
                        sender: null
                        recipient: null
                        created_at: 2022-09-14T21:57:41+00:00
                        metadata:
                          duration: 0
                          recording: 1
                          answered: 0
                          voicemail: 1
                          status: 7
                      - id: call_76764
                        channel: call
                        direction: outbound
                        content: null
                        sender: null
                        recipient: null
                        created_at: 2022-09-13T22:02:18+00:00
                        metadata:
                          duration: 0
                          recording: 0
                          answered: 0
                          voicemail: 0
                          status: 0
                    meta:
                      total: 2
                      per_page: 2
                      current_page: 1
                      last_page: 1
                      has_more: false
                Email channel:
                  summary: Email channel
                  value:
                    data:
                      - id: email_142
                        channel: email
                        direction: outbound
                        content: <p>Are you still looking for a quote for your event?</p>
                        subject: Quote request
                        sender: ""
                        recipient: john.doe@example.com
                        created_at: 2022-09-23T21:49:40+00:00
                    meta:
                      total: 1
                      per_page: 2
                      current_page: 1
                      last_page: 1
                      has_more: false
                SMS channel:
                  summary: SMS channel
                  value:
                    data:
                      - id: sms_3012
                        channel: sms
                        direction: inbound
                        content: Hi, is the quote still available?
                        sender: "+15555550100"
                        recipient: "+15555550123"
                        created_at: 2026-06-22T15:04:00+00:00
                      - id: sms_3009
                        channel: sms
                        direction: outbound
                        content: Yes! Happy to help — when works for a quick call?
                        sender: "+15555550100"
                        recipient: "+15555550123"
                        created_at: 2026-06-22T14:58:00+00:00
                    meta:
                      total: 2
                      per_page: 2
                      current_page: 1
                      last_page: 1
                      has_more: false
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  error: Unauthenticated
                properties:
                  error:
                    type: string
                    example: Unauthenticated
        "404":
          description: Contact not found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: No results found.
                properties:
                  message:
                    type: string
                    example: No results found.
      tags:
        - Contacts
    parameters:
      - in: path
        name: contactId
        description: The contact id.
        example: 42
        required: true
        schema:
          type: integer
  /public/api/v1/form-submissions:
    get:
      summary: List form submissions
      operationId: listFormSubmissions
      description: >-
        Returns a paginated list of form submissions for the authenticated
        account.


        **Pagination** — root-level `total`, `last_page`, `per_page`,
        `current_page`.

        `meta.summary` carries counts for the filtered set: `total`, `spam`,
        `not_spam`.
      parameters:
        - in: query
          name: search
          description: Search submitter name / email / phone, company, or linked contact.
          example: john
          required: false
          schema:
            type: string
            description: Search submitter name / email / phone, company, or linked contact.
            example: john
        - in: query
          name: company_id
          description: Filter by company (lead source) id.
          example: 3
          required: false
          schema:
            type: integer
            description: Filter by company (lead source) id.
            example: 3
        - in: query
          name: client
          description: Filter by client (lead group) ids.
          example:
            - 5
          required: false
          schema:
            type: array
            description: Filter by client (lead group) ids.
            example:
              - 5
            items:
              type: integer
        - in: query
          name: form
          description: Filter by intake form (lead group) ids. Supports `is_any_of|1,2`.
          example:
            - 12
          required: false
          schema:
            type: array
            description: Filter by intake form (lead group) ids. Supports `is_any_of|1,2`.
            example:
              - 12
            items:
              type: integer
        - in: query
          name: is_spam
          description: Show spam submissions only when true; default hides spam.
          example: false
          required: false
          schema:
            type: boolean
            description: Show spam submissions only when true; default hides spam.
            example: false
        - in: query
          name: created_at_from
          description: date Submitted-at range start (YYYY-MM-DD).
          example: 2026-01-01
          required: false
          schema:
            type: string
            description: date Submitted-at range start (YYYY-MM-DD).
            example: 2026-01-01
        - in: query
          name: created_at_to
          description: date Submitted-at range end (YYYY-MM-DD, inclusive).
          example: 2026-06-30
          required: false
          schema:
            type: string
            description: date Submitted-at range end (YYYY-MM-DD, inclusive).
            example: 2026-06-30
        - in: query
          name: sort
          description: "Sort field; prefix with `-` for descending. Accepted: name,
            company, form, submitted_at."
          example: -submitted_at
          required: false
          schema:
            type: string
            description: "Sort field; prefix with `-` for descending. Accepted: name,
              company, form, submitted_at."
            example: -submitted_at
        - in: query
          name: per_page
          description: Results per page (default 25, max 100).
          example: 25
          required: false
          schema:
            type: integer
            description: Results per page (default 25, max 100).
            example: 25
        - in: query
          name: page
          description: Page number.
          example: 1
          required: false
          schema:
            type: integer
            description: Page number.
            example: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 202782
                      contact:
                        id: 62967
                        name: null
                        email: john.doe@example.com
                        phone: "5555550123"
                      form:
                        id: 23
                        name: General Leads Template
                      fields_preview: []
                      is_spam: false
                      spam_reason: null
                      company:
                        id: 214
                        name: Example Auto Glass
                      client:
                        id: 23
                        name: General Leads Template
                      submitted_at: 2022-09-28T18:14:42+00:00
                    - id: 202725
                      contact:
                        id: 62964
                        name: null
                        email: jane.roe@example.com
                        phone: "5555550124"
                      form:
                        id: 23
                        name: General Leads Template
                      fields_preview: []
                      is_spam: false
                      spam_reason: null
                      company:
                        id: 69
                        name: Example Concrete And Masonry
                      client:
                        id: 23
                        name: General Leads Template
                      submitted_at: 2022-09-28T17:29:50+00:00
                  total: 7473
                  per_page: 2
                  current_page: 1
                  last_page: 3737
                  meta:
                    summary:
                      total: 13929
                      spam: 6456
                      not_spam: 7473
                properties:
                  data:
                    type: array
                    example:
                      - id: 202782
                        contact:
                          id: 62967
                          name: null
                          email: john.doe@example.com
                          phone: "5555550123"
                        form:
                          id: 23
                          name: General Leads Template
                        fields_preview: []
                        is_spam: false
                        spam_reason: null
                        company:
                          id: 214
                          name: Example Auto Glass
                        client:
                          id: 23
                          name: General Leads Template
                        submitted_at: 2022-09-28T18:14:42+00:00
                      - id: 202725
                        contact:
                          id: 62964
                          name: null
                          email: jane.roe@example.com
                          phone: "5555550124"
                        form:
                          id: 23
                          name: General Leads Template
                        fields_preview: []
                        is_spam: false
                        spam_reason: null
                        company:
                          id: 69
                          name: Example Concrete And Masonry
                        client:
                          id: 23
                          name: General Leads Template
                        submitted_at: 2022-09-28T17:29:50+00:00
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 202782
                        contact:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 62967
                            name:
                              type: string
                              example: null
                              nullable: true
                            email:
                              type: string
                              example: john.doe@example.com
                            phone:
                              type: string
                              example: "5555550123"
                        form:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 23
                            name:
                              type: string
                              example: General Leads Template
                        fields_preview:
                          type: array
                          example: []
                        is_spam:
                          type: boolean
                          example: false
                        spam_reason:
                          type: string
                          example: null
                          nullable: true
                        company:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 214
                            name:
                              type: string
                              example: Example Auto Glass
                        client:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 23
                            name:
                              type: string
                              example: General Leads Template
                        submitted_at:
                          type: string
                          example: 2022-09-28T18:14:42+00:00
                  total:
                    type: integer
                    example: 7473
                  per_page:
                    type: integer
                    example: 2
                  current_page:
                    type: integer
                    example: 1
                  last_page:
                    type: integer
                    example: 3737
                  meta:
                    type: object
                    properties:
                      summary:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 13929
                          spam:
                            type: integer
                            example: 6456
                          not_spam:
                            type: integer
                            example: 7473
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  error: Unauthenticated
                properties:
                  error:
                    type: string
                    example: Unauthenticated
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                example:
                  error: An unexpected error occurred.
                properties:
                  error:
                    type: string
                    example: An unexpected error occurred.
      tags:
        - Form Submissions
  /public/api/v1/heatmap/grid-points:
    post:
      summary: Generate grid points
      operationId: generateGridPoints
      description: >-
        Returns the computed grid point coordinates for a given configuration
        without creating a heatmap.

        Use this to preview a grid layout or to obtain the `points` array that
        can be passed to

        the Create Heatmap or Create Schedule endpoints.


        `grid_radius` is the spacing between points and is **always in meters**
        — e.g. `1000` = 1 km, `1609` ≈ 1 mile.

        When `polygon` is supplied the grid is clipped to that shape and only
        points inside it are returned.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  count: 9
                  points:
                    - lat: 44.626765686401
                      lng: -88.170524385296
                    - lat: 44.658572959605
                      lng: -88.170524385296
                    - lat: 44.690380231407
                      lng: -88.170524385296
                    - lat: 44.626765686401
                      lng: -88.122418774951
                    - lat: 44.658572959605
                      lng: -88.122418774951
                    - lat: 44.690380231407
                      lng: -88.122418774951
                    - lat: 44.626765686401
                      lng: -88.074313164606
                    - lat: 44.658572959605
                      lng: -88.074313164606
                    - lat: 44.690380231407
                      lng: -88.074313164606
                properties:
                  count:
                    type: integer
                    example: 9
                  points:
                    type: array
                    example:
                      - lat: 44.626765686401
                        lng: -88.170524385296
                      - lat: 44.658572959605
                        lng: -88.170524385296
                      - lat: 44.690380231407
                        lng: -88.170524385296
                      - lat: 44.626765686401
                        lng: -88.122418774951
                      - lat: 44.658572959605
                        lng: -88.122418774951
                      - lat: 44.690380231407
                        lng: -88.122418774951
                      - lat: 44.626765686401
                        lng: -88.074313164606
                      - lat: 44.658572959605
                        lng: -88.074313164606
                      - lat: 44.690380231407
                        lng: -88.074313164606
                    items:
                      type: object
                      properties:
                        lat:
                          type: number
                          example: 44.626765686401
                        lng:
                          type: number
                          example: -88.170524385296
      tags:
        - Heatmap Points
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: number
                  description: Latitude of the grid center.
                  example: 44.670381143996
                lng:
                  type: number
                  description: Longitude of the grid center.
                  example: -88.122418774951
                grid_size:
                  type: integer
                  description: "Number of grid points per side (e.g. 3 = 3×3 grid). Maximum: `13`
                    (produces a 13×13 = 169-point grid)."
                  example: 3
                grid_radius:
                  type: number
                  description: Spacing between grid points, **in meters** (e.g. `1000` = 1 km,
                    `1609` ≈ 1 mile).
                  example: 3495
                polygon:
                  type: object
[...]
