openapi: 3.0.3
info:
  title: API Documentation (Beta)
  description: API reference for the platform. We are currently starting with
    support for the Heatmaps API.
  version: 1.0.0
servers:
  - url: https://app.crmthrive.com
tags:
  - name: Heatmap Points
    description: >-
      
      Retrieve individual grid points within a heatmap, including their ranking
      data and organic search results.
  - name: Heatmap Schedules
    description: >-
      
      Create and manage automated heatmap schedules. Schedules run heatmaps on a
      recurring interval (weekly, monthly, or custom).
  - name: Heatmaps
    description: >-
      
      Create, retrieve, re-run and delete heatmaps.


      The core object of a heatmap is a **Google Place** — any business or
      location that has a Google Place ID can be used as the target of a
      heatmap, regardless of whether it is managed by the account. The place is
      always returned in the `place` object.


      If the targeted place is also a **location managed by the account** (i.e.
      connected via Google Business Profile), it is additionally exposed in the
      `location` object for clarity. This allows you to cross-reference heatmap
      results with your managed location data such as review stats, GMB
      insights, and citation subscriptions.


      To get the `place_id` of a managed location, use the [List
      locations](#tag/Heatmaps/GET/public/api/v1/heatmaps/locations) endpoint.
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: Authenticate using a Sanctum bearer token. Use @unauthenticated on
        a route method to mark public endpoints.
security:
  - default: []
x-tagGroups:
  - name: Heatmaps
    tags:
      - Heatmaps
      - Heatmap Points
      - Heatmap Schedules
paths:
  /public/api/v1/heatmap/grids-points:
    post:
      summary: Generate grid points
      operationId: generateGridPoints
      description: >-
        Returns the computed grid point coordinates for a given configuration
        without creating a heatmap.

        Use this to preview a grid layout or to obtain the `points` array that
        can be passed to

        the Create Heatmap or Create Schedule endpoints.


        `grid_radius` is the spacing between points and is **always in meters**
        — e.g. `1000` = 1 km, `1609` ≈ 1 mile.

        When `polygon` is supplied the grid is clipped to that shape and only
        points inside it are returned.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  count: 9
                  points:
                    - lat: 44.626765686401
                      lng: -88.170524385296
                    - lat: 44.658572959605
                      lng: -88.170524385296
                    - lat: 44.690380231407
                      lng: -88.170524385296
                    - lat: 44.626765686401
                      lng: -88.122418774951
                    - lat: 44.658572959605
                      lng: -88.122418774951
                    - lat: 44.690380231407
                      lng: -88.122418774951
                    - lat: 44.626765686401
                      lng: -88.074313164606
                    - lat: 44.658572959605
                      lng: -88.074313164606
                    - lat: 44.690380231407
                      lng: -88.074313164606
                properties:
                  count:
                    type: integer
                    example: 9
                  points:
                    type: array
                    example:
                      - lat: 44.626765686401
                        lng: -88.170524385296
                      - lat: 44.658572959605
                        lng: -88.170524385296
                      - lat: 44.690380231407
                        lng: -88.170524385296
                      - lat: 44.626765686401
                        lng: -88.122418774951
                      - lat: 44.658572959605
                        lng: -88.122418774951
                      - lat: 44.690380231407
                        lng: -88.122418774951
                      - lat: 44.626765686401
                        lng: -88.074313164606
                      - lat: 44.658572959605
                        lng: -88.074313164606
                      - lat: 44.690380231407
                        lng: -88.074313164606
                    items:
                      type: object
                      properties:
                        lat:
                          type: number
                          example: 44.626765686401
                        lng:
                          type: number
                          example: -88.170524385296
      tags:
        - Heatmap Points
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: number
                  description: Latitude of the grid center.
                  example: 44.670381143996
                lng:
                  type: number
                  description: Longitude of the grid center.
                  example: -88.122418774951
                grid_size:
                  type: integer
                  description: "Number of grid points per side (e.g. 3 = 3×3 grid). Maximum: `13`
                    (produces a 13×13 = 169-point grid)."
                  example: 3
                grid_radius:
                  type: number
                  description: Spacing between grid points, **in meters** (e.g. `1000` = 1 km,
                    `1609` ≈ 1 mile).
                  example: 3495
                polygon:
                  type: object
                  description: optional Custom polygon to clip the grid. Points outside the
                    polygon are excluded.
                  example: []
                  properties: {}
                  nullable: true
              required:
                - lat
                - lng
                - grid_size
                - grid_radius
  /public/api/v1/heatmaps/{heatmap_id}/points/{point_id}:
    get:
      summary: Get heatmap point
      operationId: getHeatmapPoint
      description: Returns details for a single grid point within a heatmap, including
        its coordinates, rank, and surrounding place rankings.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 5001
                  index: 0
                  lat: 44.626765686401
                  lng: -88.078293153604
                  rank: 3
                  places:
                    - id: 12
                      google_place_id: ChIJFzfDtmDzAogRn0zn9LJaP_A
                      name: Green City Roofing
                      address: 123 Main St, Green Bay, WI
                      review_count: 47
                      ave_review_rating: 4.8
                      ranking: 3
                properties:
                  id:
                    type: integer
                    example: 5001
                  index:
                    type: integer
                    example: 0
                  lat:
                    type: number
                    example: 44.626765686401
                  lng:
                    type: number
                    example: -88.078293153604
                  rank:
                    type: integer
                    example: 3
                  places:
                    type: array
                    example:
                      - id: 12
                        google_place_id: ChIJFzfDtmDzAogRn0zn9LJaP_A
                        name: Green City Roofing
                        address: 123 Main St, Green Bay, WI
                        review_count: 47
                        ave_review_rating: 4.8
                        ranking: 3
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 12
                        google_place_id:
                          type: string
                          example: ChIJFzfDtmDzAogRn0zn9LJaP_A
                        name:
                          type: string
                          example: Green City Roofing
                        address:
                          type: string
                          example: 123 Main St, Green Bay, WI
                        review_count:
                          type: integer
                          example: 47
                        ave_review_rating:
                          type: number
                          example: 4.8
                        ranking:
                          type: integer
                          example: 3
      tags:
        - Heatmap Points
    parameters:
      - in: path
        name: heatmap_id
        description: The ID of the heatmap.
        example: 1
        required: true
        schema:
          type: integer
      - in: path
        name: point_id
        description: The ID of the point.
        example: 1
        required: true
        schema:
          type: integer
      - in: path
        name: heatmap
        description: The heatmap ID.
        example: 1482
        required: true
        schema:
          type: integer
      - in: path
        name: point
        description: The grid point ID.
        example: 5001
        required: true
        schema:
          type: integer
  /public/api/v1/heatmap/schedules:
    get:
      summary: List schedules
      operationId: listSchedules
      description: >-
        Returns a paginated list of heatmap schedules for the account. Supports
        filtering, sorting, searching, and pagination.


        **Pagination** — all list responses include pagination fields at the
        root level alongside `data`:

        - `total` total matching records; `last_page` total pages; `per_page`
        results per page (default 25)

        - `next_page_url` URL of the next page (`null` on the last page)

        - `links` array of page link objects (`url`, `label`, `active`)


        **Date filters** — date params accept an object with `start_date` and/or
        `end_date` (YYYY-MM-DD):

        ```

        filter[created_at][start_date]=2026-01-01

        filter[created_at][end_date]=2026-04-30

        ```

        Named range aliases are also supported via
        `filter[created_at][date_range]`:

        `today`, `yesterday`, `last_7_days`, `last_30_days`, `this_month`,
        `last_month`, `this_year`, `last_year`, `all_time`
      parameters:
        - in: query
          name: filter[name]
          description: Filter by schedule name (partial match).
          example: Weekly Roofing
          required: false
          schema:
            type: string
            description: Filter by schedule name (partial match).
            example: Weekly Roofing
        - in: query
          name: filter[keyword]
          description: Filter by keyword in the schedule (exact match).
          example: roofing
          required: false
          schema:
            type: string
            description: Filter by keyword in the schedule (exact match).
            example: roofing
        - in: query
          name: filter[location_id]
          description: Filter by location ID.
          example: 20
          required: false
          schema:
            type: integer
            description: Filter by location ID.
            example: 20
        - in: query
          name: filter[place_id]
          description: Filter by place ID.
          example: 12
          required: false
          schema:
            type: integer
            description: Filter by place ID.
            example: 12
        - in: query
          name: filter[google_place_id]
          description: Filter by Google Place ID (exact).
          example: ChIJFzfDtmDzAogRn0zn9LJaP_A
          required: false
          schema:
            type: string
            description: Filter by Google Place ID (exact).
            example: ChIJFzfDtmDzAogRn0zn9LJaP_A
        - in: query
          name: filter[company_id]
          description: Filter by lead source / company ID.
          example: 3
          required: false
          schema:
            type: integer
            description: Filter by lead source / company ID.
            example: 3
        - in: query
          name: filter[status]
          description: "Filter by schedule status. Accepted: `active`, `paused`."
          example: active
          required: false
          schema:
            type: string
            description: "Filter by schedule status. Accepted: `active`, `paused`."
            example: active
        - in: query
          name: filter[repeat_type]
          description: "Filter by repeat type. Accepted: `week`, `month`, `custom-day`,
            `custom-week`, `custom-month`."
          example: week
          required: false
          schema:
            type: string
            description: "Filter by repeat type. Accepted: `week`, `month`, `custom-day`,
              `custom-week`, `custom-month`."
            example: week
        - in: query
          name: filter[repeat_every]
          description: Filter by repeat interval.
          example: 2
          required: false
          schema:
            type: integer
            description: Filter by repeat interval.
            example: 2
        - in: query
          name: filter[repeat_on]
          description: Filter by day of week (1–7) or day of month (1–31) depending on
            repeat_type.
          example: 1
          required: false
          schema:
            type: integer
            description: Filter by day of week (1–7) or day of month (1–31) depending on
              repeat_type.
            example: 1
        - in: query
          name: filter[created_at][start_date]
          description: Filter by creation date — range start (YYYY-MM-DD).
          example: 2026-01-01
          required: false
          schema:
            type: string
            description: Filter by creation date — range start (YYYY-MM-DD).
            example: 2026-01-01
        - in: query
          name: filter[created_at][end_date]
          description: Filter by creation date — range end (YYYY-MM-DD).
          example: 2026-04-30
          required: false
          schema:
            type: string
            description: Filter by creation date — range end (YYYY-MM-DD).
            example: 2026-04-30
        - in: query
          name: sort
          description: "Sort field. Prefix with `-` for descending. Accepted:
            `created_at`, `name`, `status`, `scheduled_at`,
            `last_schedule_ran_at`, `repeat_type`, `repeat_every`, `place_id`,
            `place.name`, `location_id`."
          example: -created_at
          required: false
          schema:
            type: string
            description: "Sort field. Prefix with `-` for descending. Accepted:
              `created_at`, `name`, `status`, `scheduled_at`,
              `last_schedule_ran_at`, `repeat_type`, `repeat_every`, `place_id`,
              `place.name`, `location_id`."
            example: -created_at
        - in: query
          name: search
          description: Full-text search across schedule name and place name.
          example: Green City
          required: false
          schema:
            type: string
            description: Full-text search across schedule name and place name.
            example: Green City
        - in: query
          name: per_page
          description: Number of results per page (default 25).
          example: 25
          required: false
          schema:
            type: integer
            description: Number of results per page (default 25).
            example: 25
        - in: query
          name: page
          description: Page number.
          example: 1
          required: false
          schema:
            type: integer
            description: Page number.
            example: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    - id: 6491
                      place_id: 2791188
                      keywords:
                        - wesd
                        - sfdgf
                      name: test
                      grid_points:
                        - lat: "45.4437215463450000"
                          lng: "-122.7223487981700000"
                        - lat: "45.4581844224160000"
                          lng: "-122.7223487981700000"
                        - lat: "45.4726472984870000"
                          lng: "-122.7223487981700000"
                        - lat: "45.4871101745580000"
                          lng: "-122.7223487981700000"
                        - lat: "45.5015730506290000"
                          lng: "-122.7223487981700000"
                        - lat: "45.5160359267000000"
                          lng: "-122.7223487981700000"
                        - lat: "45.5304988027710000"
                          lng: "-122.7223487981700000"
                        - lat: "45.5449616788420000"
                          lng: "-122.7223487981700000"
                        - lat: "45.5594245549130000"
                          lng: "-122.7223487981700000"
                        - lat: "45.4437196924820000"
                          lng: "-122.7017349445900000"
                        - lat: "45.4581825685530000"
                          lng: "-122.7017349445900000"
                        - lat: "45.4726454446240000"
                          lng: "-122.7017349445900000"
                        - lat: "45.4871083206950000"
                          lng: "-122.7017349445900000"
                        - lat: "45.5015711967660000"
                          lng: "-122.7017349445900000"
                        - lat: "45.5160340728370000"
                          lng: "-122.7017349445900000"
                        - lat: "45.5304969489080000"
                          lng: "-122.7017349445900000"
                        - lat: "45.5449598249790000"
                          lng: "-122.7017349445900000"
                        - lat: "45.5594227010500000"
                          lng: "-122.7017349445900000"
                        - lat: "45.4437141308420000"
                          lng: "-122.6811210937200000"
                        - lat: "45.4581770069130000"
                          lng: "-122.6811210937200000"
                        - lat: "45.4726398829840000"
                          lng: "-122.6811210937200000"
                        - lat: "45.4871027590550000"
                          lng: "-122.6811210937200000"
                        - lat: "45.5015656351260000"
                          lng: "-122.6811210937200000"
                        - lat: "45.5160285111970000"
                          lng: "-122.6811210937200000"
                        - lat: "45.5304913872680000"
                          lng: "-122.6811210937200000"
                        - lat: "45.5449542633390000"
                          lng: "-122.6811210937200000"
                        - lat: "45.5594171394100000"
                          lng: "-122.6811210937200000"
                        - lat: "45.4437048614270000"
                          lng: "-122.6605072482800000"
                        - lat: "45.4581677374980000"
                          lng: "-122.6605072482800000"
                        - lat: "45.4726306135690000"
                          lng: "-122.6605072482800000"
                        - lat: "45.4870934896400000"
                          lng: "-122.6605072482800000"
                        - lat: "45.5015563657110000"
                          lng: "-122.6605072482800000"
                        - lat: "45.5160192417820000"
                          lng: "-122.6605072482800000"
                        - lat: "45.5304821178530000"
                          lng: "-122.6605072482800000"
                        - lat: "45.5449449939240000"
                          lng: "-122.6605072482800000"
                        - lat: "45.5594078699950000"
                          lng: "-122.6605072482800000"
                        - lat: "45.4436918842380000"
                          lng: "-122.6398934109600000"
                        - lat: "45.4581547603090000"
                          lng: "-122.6398934109600000"
                        - lat: "45.4726176363800000"
                          lng: "-122.6398934109600000"
                        - lat: "45.4870805124520000"
                          lng: "-122.6398934109600000"
                        - lat: "45.5015433885230000"
                          lng: "-122.6398934109600000"
                        - lat: "45.5160062645940000"
                          lng: "-122.6398934109600000"
                        - lat: "45.5304691406650000"
                          lng: "-122.6398934109600000"
                        - lat: "45.5449320167360000"
                          lng: "-122.6398934109600000"
                        - lat: "45.5593948928070000"
                          lng: "-122.6398934109600000"
                        - lat: "45.4436751992800000"
                          lng: "-122.6192795844800000"
                        - lat: "45.4581380753510000"
                          lng: "-122.6192795844800000"
                        - lat: "45.4726009514220000"
                          lng: "-122.6192795844800000"
                        - lat: "45.4870638274930000"
                          lng: "-122.6192795844800000"
                        - lat: "45.5015267035640000"
                          lng: "-122.6192795844800000"
                        - lat: "45.5159895796350000"
                          lng: "-122.6192795844800000"
                        - lat: "45.5304524557060000"
                          lng: "-122.6192795844800000"
                        - lat: "45.5449153317780000"
                          lng: "-122.6192795844800000"
                        - lat: "45.5593782078490000"
                          lng: "-122.6192795844800000"
                        - lat: "45.4436548065570000"
                          lng: "-122.5986657715500000"
                        - lat: "45.4581176826280000"
                          lng: "-122.5986657715500000"
                        - lat: "45.4725805586990000"
                          lng: "-122.5986657715500000"
                        - lat: "45.4870434347700000"
                          lng: "-122.5986657715500000"
                        - lat: "45.5015063108410000"
                          lng: "-122.5986657715500000"
                        - lat: "45.5159691869120000"
                          lng: "-122.5986657715500000"
                        - lat: "45.5304320629830000"
                          lng: "-122.5986657715500000"
                        - lat: "45.5448949390540000"
                          lng: "-122.5986657715500000"
                        - lat: "45.5593578151250000"
                          lng: "-122.5986657715500000"
                        - lat: "45.4436307060730000"
                          lng: "-122.5780519748700000"
                        - lat: "45.4580935821440000"
                          lng: "-122.5780519748700000"
                        - lat: "45.4725564582150000"
                          lng: "-122.5780519748700000"
                        - lat: "45.4870193342870000"
                          lng: "-122.5780519748700000"
                        - lat: "45.5014822103580000"
                          lng: "-122.5780519748700000"
                        - lat: "45.5159450864290000"
                          lng: "-122.5780519748700000"
                        - lat: "45.5304079625000000"
                          lng: "-122.5780519748700000"
                        - lat: "45.5448708385710000"
                          lng: "-122.5780519748700000"
                        - lat: "45.5593337146420000"
                          lng: "-122.5780519748700000"
                        - lat: "45.4436028978360000"
                          lng: "-122.5574381971700000"
                        - lat: "45.4580657739070000"
                          lng: "-122.5574381971700000"
                        - lat: "45.4725286499780000"
                          lng: "-122.5574381971700000"
                        - lat: "45.4869915260490000"
                          lng: "-122.5574381971700000"
                        - lat: "45.5014544021200000"
                          lng: "-122.5574381971700000"
                        - lat: "45.5159172781910000"
                          lng: "-122.5574381971700000"
                        - lat: "45.5303801542620000"
                          lng: "-122.5574381971700000"
                        - lat: "45.5448430303330000"
                          lng: "-122.5574381971700000"
                        - lat: "45.5593059064040000"
                          lng: "-122.5574381971700000"
                      zoom_level: null
                      lat: "45.5015435"
                      lng: "-122.6398935"
                      radius: 1610
                      grid_size: 9
                      length_unit: m
                      draw_type: null
                      status: active
                      stop_reason: ""
                      schedule_config:
                        id: 54974
                        repeat_every: 0
                        repeat_type: week
                        repeat_on: "1"
                        is_recurring: 0
                        recurring_count: -1
                        timezone: US/Eastern
                        scheduled_at: 2026-04-06 12:13:00
                        last_schedule_ran_at: null
                        delete_oldpost_on_recurring: 0
                        ai_recurring: 0
                        created_at: 2026-03-30T10:13:48.000000Z
                        updated_at: 2026-03-30T10:13:48.000000Z
                        status: active
                        stop_reason: ""
                      place:
                        id: 2791188
                        google_place_id: ChIJ0zm3g3ISK4cROyw4xbkIVAc
                        google_place_serial: "528056650279955515"
                        latitude: "33.4745580000000000"
                        longitude: "-112.1261140000000000"
                        place_url: https://www.google.com/maps/preview/place/Camelback+Moving,+2330+N+31st+Ave,+Phoenix,+AZ+85009,+United+States/@33.474558,-112.126114,3328a,13.1y/data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                        map_url: https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                        name: Camelback Moving
                        address: 2330 N 31st Ave, Phoenix, AZ 85009, United States
                        phone: "+16025842783"
                        website_url: https://camelbackmoving.com/%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3DPhoenixGBP
                        thumbnail_url: https://lh3.googleusercontent.com/gps-cs-s/APNQkAHqE6U0kkIdJegAFFx4_2EB8RZHcvkCSe46zKQw0ysVI69XPX2VIr2NyiC2glIsr0d8LY2mGgt4gBCLis8v5-7lckStN_ec9SeHH5joSlIsRTuRIWon4Af2kx67qIDib0LFcogS=w408-h258-k-no
                        feature_id: 0x872b127283b739d3:0x75408b9c5382c3b
                        review_count: 1174
                        ave_review_rating: 4.8
                        ranking: null
                        main_category: Mover
                        related_categories:
                          - Moving and storage service
                          - Piano moving service
                      google_location: null
                      lead_source_id: null
                  first_page_url: http://example.com/public/api/v1/heatmap/schedules?page=1
                  from: 1
                  last_page: 1
                  last_page_url: http://example.com/public/api/v1/heatmap/schedules?page=1
                  links:
                    - url: null
                      label: "&laquo; Previous"
                      active: false
                    - url: http://example.com/public/api/v1/heatmap/schedules?page=1
                      label: "1"
                      active: true
                    - url: null
                      label: Next &raquo;
                      active: false
                  next_page_url: null
                  path: http://example.com/public/api/v1/heatmap/schedules
                  per_page: 25
                  prev_page_url: null
                  to: 1
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      - id: 6491
                        place_id: 2791188
                        keywords:
                          - wesd
                          - sfdgf
                        name: test
                        grid_points:
                          - lat: "45.4437215463450000"
                            lng: "-122.7223487981700000"
                          - lat: "45.4581844224160000"
                            lng: "-122.7223487981700000"
                          - lat: "45.4726472984870000"
                            lng: "-122.7223487981700000"
                          - lat: "45.4871101745580000"
                            lng: "-122.7223487981700000"
                          - lat: "45.5015730506290000"
                            lng: "-122.7223487981700000"
                          - lat: "45.5160359267000000"
                            lng: "-122.7223487981700000"
                          - lat: "45.5304988027710000"
                            lng: "-122.7223487981700000"
                          - lat: "45.5449616788420000"
                            lng: "-122.7223487981700000"
                          - lat: "45.5594245549130000"
                            lng: "-122.7223487981700000"
                          - lat: "45.4437196924820000"
                            lng: "-122.7017349445900000"
                          - lat: "45.4581825685530000"
                            lng: "-122.7017349445900000"
                          - lat: "45.4726454446240000"
                            lng: "-122.7017349445900000"
                          - lat: "45.4871083206950000"
                            lng: "-122.7017349445900000"
                          - lat: "45.5015711967660000"
                            lng: "-122.7017349445900000"
                          - lat: "45.5160340728370000"
                            lng: "-122.7017349445900000"
                          - lat: "45.5304969489080000"
                            lng: "-122.7017349445900000"
                          - lat: "45.5449598249790000"
                            lng: "-122.7017349445900000"
                          - lat: "45.5594227010500000"
                            lng: "-122.7017349445900000"
                          - lat: "45.4437141308420000"
                            lng: "-122.6811210937200000"
                          - lat: "45.4581770069130000"
                            lng: "-122.6811210937200000"
                          - lat: "45.4726398829840000"
                            lng: "-122.6811210937200000"
                          - lat: "45.4871027590550000"
                            lng: "-122.6811210937200000"
                          - lat: "45.5015656351260000"
                            lng: "-122.6811210937200000"
                          - lat: "45.5160285111970000"
                            lng: "-122.6811210937200000"
                          - lat: "45.5304913872680000"
                            lng: "-122.6811210937200000"
                          - lat: "45.5449542633390000"
                            lng: "-122.6811210937200000"
                          - lat: "45.5594171394100000"
                            lng: "-122.6811210937200000"
                          - lat: "45.4437048614270000"
                            lng: "-122.6605072482800000"
                          - lat: "45.4581677374980000"
                            lng: "-122.6605072482800000"
                          - lat: "45.4726306135690000"
                            lng: "-122.6605072482800000"
                          - lat: "45.4870934896400000"
                            lng: "-122.6605072482800000"
                          - lat: "45.5015563657110000"
                            lng: "-122.6605072482800000"
                          - lat: "45.5160192417820000"
                            lng: "-122.6605072482800000"
                          - lat: "45.5304821178530000"
                            lng: "-122.6605072482800000"
                          - lat: "45.5449449939240000"
                            lng: "-122.6605072482800000"
                          - lat: "45.5594078699950000"
                            lng: "-122.6605072482800000"
                          - lat: "45.4436918842380000"
                            lng: "-122.6398934109600000"
                          - lat: "45.4581547603090000"
                            lng: "-122.6398934109600000"
                          - lat: "45.4726176363800000"
                            lng: "-122.6398934109600000"
                          - lat: "45.4870805124520000"
                            lng: "-122.6398934109600000"
                          - lat: "45.5015433885230000"
                            lng: "-122.6398934109600000"
                          - lat: "45.5160062645940000"
                            lng: "-122.6398934109600000"
                          - lat: "45.5304691406650000"
                            lng: "-122.6398934109600000"
                          - lat: "45.5449320167360000"
                            lng: "-122.6398934109600000"
                          - lat: "45.5593948928070000"
                            lng: "-122.6398934109600000"
                          - lat: "45.4436751992800000"
                            lng: "-122.6192795844800000"
                          - lat: "45.4581380753510000"
                            lng: "-122.6192795844800000"
                          - lat: "45.4726009514220000"
                            lng: "-122.6192795844800000"
                          - lat: "45.4870638274930000"
                            lng: "-122.6192795844800000"
                          - lat: "45.5015267035640000"
                            lng: "-122.6192795844800000"
                          - lat: "45.5159895796350000"
                            lng: "-122.6192795844800000"
                          - lat: "45.5304524557060000"
                            lng: "-122.6192795844800000"
                          - lat: "45.5449153317780000"
                            lng: "-122.6192795844800000"
                          - lat: "45.5593782078490000"
                            lng: "-122.6192795844800000"
                          - lat: "45.4436548065570000"
                            lng: "-122.5986657715500000"
                          - lat: "45.4581176826280000"
                            lng: "-122.5986657715500000"
                          - lat: "45.4725805586990000"
                            lng: "-122.5986657715500000"
                          - lat: "45.4870434347700000"
                            lng: "-122.5986657715500000"
                          - lat: "45.5015063108410000"
                            lng: "-122.5986657715500000"
                          - lat: "45.5159691869120000"
                            lng: "-122.5986657715500000"
                          - lat: "45.5304320629830000"
                            lng: "-122.5986657715500000"
                          - lat: "45.5448949390540000"
                            lng: "-122.5986657715500000"
                          - lat: "45.5593578151250000"
                            lng: "-122.5986657715500000"
                          - lat: "45.4436307060730000"
                            lng: "-122.5780519748700000"
                          - lat: "45.4580935821440000"
                            lng: "-122.5780519748700000"
                          - lat: "45.4725564582150000"
                            lng: "-122.5780519748700000"
                          - lat: "45.4870193342870000"
                            lng: "-122.5780519748700000"
                          - lat: "45.5014822103580000"
                            lng: "-122.5780519748700000"
                          - lat: "45.5159450864290000"
                            lng: "-122.5780519748700000"
                          - lat: "45.5304079625000000"
                            lng: "-122.5780519748700000"
                          - lat: "45.5448708385710000"
                            lng: "-122.5780519748700000"
                          - lat: "45.5593337146420000"
                            lng: "-122.5780519748700000"
                          - lat: "45.4436028978360000"
                            lng: "-122.5574381971700000"
                          - lat: "45.4580657739070000"
                            lng: "-122.5574381971700000"
                          - lat: "45.4725286499780000"
                            lng: "-122.5574381971700000"
                          - lat: "45.4869915260490000"
                            lng: "-122.5574381971700000"
                          - lat: "45.5014544021200000"
                            lng: "-122.5574381971700000"
                          - lat: "45.5159172781910000"
                            lng: "-122.5574381971700000"
                          - lat: "45.5303801542620000"
                            lng: "-122.5574381971700000"
                          - lat: "45.5448430303330000"
                            lng: "-122.5574381971700000"
                          - lat: "45.5593059064040000"
                            lng: "-122.5574381971700000"
                        zoom_level: null
                        lat: "45.5015435"
                        lng: "-122.6398935"
                        radius: 1610
                        grid_size: 9
                        length_unit: m
                        draw_type: null
                        status: active
                        stop_reason: ""
                        schedule_config:
                          id: 54974
                          repeat_every: 0
                          repeat_type: week
                          repeat_on: "1"
                          is_recurring: 0
                          recurring_count: -1
                          timezone: US/Eastern
                          scheduled_at: 2026-04-06 12:13:00
                          last_schedule_ran_at: null
                          delete_oldpost_on_recurring: 0
                          ai_recurring: 0
                          created_at: 2026-03-30T10:13:48.000000Z
                          updated_at: 2026-03-30T10:13:48.000000Z
                          status: active
                          stop_reason: ""
                        place:
                          id: 2791188
                          google_place_id: ChIJ0zm3g3ISK4cROyw4xbkIVAc
                          google_place_serial: "528056650279955515"
                          latitude: "33.4745580000000000"
                          longitude: "-112.1261140000000000"
                          place_url: https://www.google.com/maps/preview/place/Camelback+Moving,+2330+N+31st+Ave,+Phoenix,+AZ+85009,+United+States/@33.474558,-112.126114,3328a,13.1y/data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                          map_url: https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                          name: Camelback Moving
                          address: 2330 N 31st Ave, Phoenix, AZ 85009, United States
                          phone: "+16025842783"
                          website_url: https://camelbackmoving.com/%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3DPhoenixGBP
                          thumbnail_url: https://lh3.googleusercontent.com/gps-cs-s/APNQkAHqE6U0kkIdJegAFFx4_2EB8RZHcvkCSe46zKQw0ysVI69XPX2VIr2NyiC2glIsr0d8LY2mGgt4gBCLis8v5-7lckStN_ec9SeHH5joSlIsRTuRIWon4Af2kx67qIDib0LFcogS=w408-h258-k-no
                          feature_id: 0x872b127283b739d3:0x75408b9c5382c3b
                          review_count: 1174
                          ave_review_rating: 4.8
                          ranking: null
                          main_category: Mover
                          related_categories:
                            - Moving and storage service
                            - Piano moving service
                        google_location: null
                        lead_source_id: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 6491
                        place_id:
                          type: integer
                          example: 2791188
                        keywords:
                          type: array
                          example:
                            - wesd
                            - sfdgf
                          items:
                            type: string
                        name:
                          type: string
                          example: test
                        grid_points:
                          type: array
                          example:
                            - lat: "45.4437215463450000"
                              lng: "-122.7223487981700000"
                            - lat: "45.4581844224160000"
                              lng: "-122.7223487981700000"
                            - lat: "45.4726472984870000"
                              lng: "-122.7223487981700000"
                            - lat: "45.4871101745580000"
                              lng: "-122.7223487981700000"
                            - lat: "45.5015730506290000"
                              lng: "-122.7223487981700000"
                            - lat: "45.5160359267000000"
                              lng: "-122.7223487981700000"
                            - lat: "45.5304988027710000"
                              lng: "-122.7223487981700000"
                            - lat: "45.5449616788420000"
                              lng: "-122.7223487981700000"
                            - lat: "45.5594245549130000"
                              lng: "-122.7223487981700000"
                            - lat: "45.4437196924820000"
                              lng: "-122.7017349445900000"
                            - lat: "45.4581825685530000"
                              lng: "-122.7017349445900000"
                            - lat: "45.4726454446240000"
                              lng: "-122.7017349445900000"
                            - lat: "45.4871083206950000"
                              lng: "-122.7017349445900000"
                            - lat: "45.5015711967660000"
                              lng: "-122.7017349445900000"
                            - lat: "45.5160340728370000"
                              lng: "-122.7017349445900000"
                            - lat: "45.5304969489080000"
                              lng: "-122.7017349445900000"
                            - lat: "45.5449598249790000"
                              lng: "-122.7017349445900000"
                            - lat: "45.5594227010500000"
                              lng: "-122.7017349445900000"
                            - lat: "45.4437141308420000"
                              lng: "-122.6811210937200000"
                            - lat: "45.4581770069130000"
                              lng: "-122.6811210937200000"
                            - lat: "45.4726398829840000"
                              lng: "-122.6811210937200000"
                            - lat: "45.4871027590550000"
                              lng: "-122.6811210937200000"
                            - lat: "45.5015656351260000"
                              lng: "-122.6811210937200000"
                            - lat: "45.5160285111970000"
                              lng: "-122.6811210937200000"
                            - lat: "45.5304913872680000"
                              lng: "-122.6811210937200000"
                            - lat: "45.5449542633390000"
                              lng: "-122.6811210937200000"
                            - lat: "45.5594171394100000"
                              lng: "-122.6811210937200000"
                            - lat: "45.4437048614270000"
                              lng: "-122.6605072482800000"
                            - lat: "45.4581677374980000"
                              lng: "-122.6605072482800000"
                            - lat: "45.4726306135690000"
                              lng: "-122.6605072482800000"
                            - lat: "45.4870934896400000"
                              lng: "-122.6605072482800000"
                            - lat: "45.5015563657110000"
                              lng: "-122.6605072482800000"
                            - lat: "45.5160192417820000"
                              lng: "-122.6605072482800000"
                            - lat: "45.5304821178530000"
                              lng: "-122.6605072482800000"
                            - lat: "45.5449449939240000"
                              lng: "-122.6605072482800000"
                            - lat: "45.5594078699950000"
                              lng: "-122.6605072482800000"
                            - lat: "45.4436918842380000"
                              lng: "-122.6398934109600000"
                            - lat: "45.4581547603090000"
                              lng: "-122.6398934109600000"
                            - lat: "45.4726176363800000"
                              lng: "-122.6398934109600000"
                            - lat: "45.4870805124520000"
                              lng: "-122.6398934109600000"
                            - lat: "45.5015433885230000"
                              lng: "-122.6398934109600000"
                            - lat: "45.5160062645940000"
                              lng: "-122.6398934109600000"
                            - lat: "45.5304691406650000"
                              lng: "-122.6398934109600000"
                            - lat: "45.5449320167360000"
                              lng: "-122.6398934109600000"
                            - lat: "45.5593948928070000"
                              lng: "-122.6398934109600000"
                            - lat: "45.4436751992800000"
                              lng: "-122.6192795844800000"
                            - lat: "45.4581380753510000"
                              lng: "-122.6192795844800000"
                            - lat: "45.4726009514220000"
                              lng: "-122.6192795844800000"
                            - lat: "45.4870638274930000"
                              lng: "-122.6192795844800000"
                            - lat: "45.5015267035640000"
                              lng: "-122.6192795844800000"
                            - lat: "45.5159895796350000"
                              lng: "-122.6192795844800000"
                            - lat: "45.5304524557060000"
                              lng: "-122.6192795844800000"
                            - lat: "45.5449153317780000"
                              lng: "-122.6192795844800000"
                            - lat: "45.5593782078490000"
                              lng: "-122.6192795844800000"
                            - lat: "45.4436548065570000"
                              lng: "-122.5986657715500000"
                            - lat: "45.4581176826280000"
                              lng: "-122.5986657715500000"
                            - lat: "45.4725805586990000"
                              lng: "-122.5986657715500000"
                            - lat: "45.4870434347700000"
                              lng: "-122.5986657715500000"
                            - lat: "45.5015063108410000"
                              lng: "-122.5986657715500000"
                            - lat: "45.5159691869120000"
                              lng: "-122.5986657715500000"
                            - lat: "45.5304320629830000"
                              lng: "-122.5986657715500000"
                            - lat: "45.5448949390540000"
                              lng: "-122.5986657715500000"
                            - lat: "45.5593578151250000"
                              lng: "-122.5986657715500000"
                            - lat: "45.4436307060730000"
                              lng: "-122.5780519748700000"
                            - lat: "45.4580935821440000"
                              lng: "-122.5780519748700000"
                            - lat: "45.4725564582150000"
                              lng: "-122.5780519748700000"
                            - lat: "45.4870193342870000"
                              lng: "-122.5780519748700000"
                            - lat: "45.5014822103580000"
                              lng: "-122.5780519748700000"
                            - lat: "45.5159450864290000"
                              lng: "-122.5780519748700000"
                            - lat: "45.5304079625000000"
                              lng: "-122.5780519748700000"
                            - lat: "45.5448708385710000"
                              lng: "-122.5780519748700000"
                            - lat: "45.5593337146420000"
                              lng: "-122.5780519748700000"
                            - lat: "45.4436028978360000"
                              lng: "-122.5574381971700000"
                            - lat: "45.4580657739070000"
                              lng: "-122.5574381971700000"
                            - lat: "45.4725286499780000"
                              lng: "-122.5574381971700000"
                            - lat: "45.4869915260490000"
                              lng: "-122.5574381971700000"
                            - lat: "45.5014544021200000"
                              lng: "-122.5574381971700000"
                            - lat: "45.5159172781910000"
                              lng: "-122.5574381971700000"
                            - lat: "45.5303801542620000"
                              lng: "-122.5574381971700000"
                            - lat: "45.5448430303330000"
                              lng: "-122.5574381971700000"
                            - lat: "45.5593059064040000"
                              lng: "-122.5574381971700000"
                          items:
                            type: object
                            properties:
                              lat:
                                type: string
                                example: "45.4437215463450000"
                              lng:
                                type: string
                                example: "-122.7223487981700000"
                        zoom_level:
                          type: string
                          example: null
                          nullable: true
                        lat:
                          type: string
                          example: "45.5015435"
                        lng:
                          type: string
                          example: "-122.6398935"
                        radius:
                          type: integer
                          example: 1610
                        grid_size:
                          type: integer
                          example: 9
                        length_unit:
                          type: string
                          example: m
                        draw_type:
                          type: string
                          example: null
                          nullable: true
                        status:
                          type: string
                          example: active
                        stop_reason:
                          type: string
                          example: ""
                        schedule_config:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 54974
                            repeat_every:
                              type: integer
                              example: 0
                            repeat_type:
                              type: string
                              example: week
                            repeat_on:
                              type: string
                              example: "1"
                            is_recurring:
                              type: integer
                              example: 0
                            recurring_count:
                              type: integer
                              example: -1
                            timezone:
                              type: string
                              example: US/Eastern
                            scheduled_at:
                              type: string
                              example: 2026-04-06 12:13:00
                            last_schedule_ran_at:
                              type: string
                              example: null
                              nullable: true
                            delete_oldpost_on_recurring:
                              type: integer
                              example: 0
                            ai_recurring:
                              type: integer
                              example: 0
                            created_at:
                              type: string
                              example: 2026-03-30T10:13:48.000000Z
                            updated_at:
                              type: string
                              example: 2026-03-30T10:13:48.000000Z
                            status:
                              type: string
                              example: active
                            stop_reason:
                              type: string
                              example: ""
                        place:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2791188
                            google_place_id:
                              type: string
                              example: ChIJ0zm3g3ISK4cROyw4xbkIVAc
                            google_place_serial:
                              type: string
                              example: "528056650279955515"
                            latitude:
                              type: string
                              example: "33.4745580000000000"
                            longitude:
                              type: string
                              example: "-112.1261140000000000"
                            place_url:
                              type: string
                              example: https://www.google.com/maps/preview/place/Camelback+Moving,+2330+N+31st+Ave,+Phoenix,+AZ+85009,+United+States/@33.474558,-112.126114,3328a,13.1y/data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                            map_url:
                              type: string
                              example: https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                            name:
                              type: string
                              example: Camelback Moving
                            address:
                              type: string
                              example: 2330 N 31st Ave, Phoenix, AZ 85009, United States
                            phone:
                              type: string
                              example: "+16025842783"
                            website_url:
                              type: string
                              example: https://camelbackmoving.com/%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3DPhoenixGBP
                            thumbnail_url:
                              type: string
                              example: https://lh3.googleusercontent.com/gps-cs-s/APNQkAHqE6U0kkIdJegAFFx4_2EB8RZHcvkCSe46zKQw0ysVI69XPX2VIr2NyiC2glIsr0d8LY2mGgt4gBCLis8v5-7lckStN_ec9SeHH5joSlIsRTuRIWon4Af2kx67qIDib0LFcogS=w408-h258-k-no
                            feature_id:
                              type: string
                              example: 0x872b127283b739d3:0x75408b9c5382c3b
                            review_count:
                              type: integer
                              example: 1174
                            ave_review_rating:
                              type: number
                              example: 4.8
                            ranking:
                              type: string
                              example: null
                              nullable: true
                            main_category:
                              type: string
                              example: Mover
                            related_categories:
                              type: array
                              example:
                                - Moving and storage service
                                - Piano moving service
                              items:
                                type: string
                        google_location:
                          type: string
                          example: null
                          nullable: true
                        lead_source_id:
                          type: string
                          example: null
                          nullable: true
                  first_page_url:
                    type: string
                    example: http://example.com/public/api/v1/heatmap/schedules?page=1
                  from:
                    type: integer
                    example: 1
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: http://example.com/public/api/v1/heatmap/schedules?page=1
                  links:
                    type: array
                    example:
                      - url: null
                        label: "&laquo; Previous"
                        active: false
                      - url: http://example.com/public/api/v1/heatmap/schedules?page=1
                        label: "1"
                        active: true
                      - url: null
                        label: Next &raquo;
                        active: false
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          example: null
                          nullable: true
                        label:
                          type: string
                          example: "&laquo; Previous"
                        active:
                          type: boolean
                          example: false
                  next_page_url:
                    type: string
                    example: null
                    nullable: true
                  path:
                    type: string
                    example: http://example.com/public/api/v1/heatmap/schedules
                  per_page:
                    type: integer
                    example: 25
                  prev_page_url:
                    type: string
                    example: null
                    nullable: true
                  to:
                    type: integer
                    example: 1
                  total:
                    type: integer
                    example: 1
      tags:
        - Heatmap Schedules
    post:
      summary: Create schedule
      operationId: createSchedule
      description: Creates a new automated heatmap schedule. The schedule will run
        heatmaps on the specified recurrence.
      parameters: []
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 6501
                  place_id: 2795512
                  keywords:
                    - plumbing
                    - general contractor
                    - electrician
                    - hvac
                  name: test no credits issue
                  grid_points:
                    - lat: 28.174798245111
                      lng: -81.429216072674
                    - lat: 28.174798245111
                      lng: -81.457292244549
                    - lat: 28.198987716187
                      lng: -81.401139900799
                  zoom_level: null
                  lat: 28.301844298972
                  lng: -81.485368416424
                  radius: 2755
                  grid_size: 9
                  length_unit: mi
                  draw_type: squre
                  status: active
                  stop_reason: ""
                  schedule_config:
                    id: 54984
                    repeat_every: 5
                    repeat_type: custom-month
                    repeat_on: "0"
                    is_recurring: 0
                    recurring_count: -1
                    timezone: +02:00
                    scheduled_at: 2026-10-08T03:00:00.000000Z
                    last_schedule_ran_at: null
                    delete_oldpost_on_recurring: 0
                    ai_recurring: 0
                    created_at: 2026-05-08T13:36:42.000000Z
                    updated_at: 2026-05-08T13:36:42.000000Z
                    status: active
                    stop_reason: ""
                  place:
                    id: 2795512
                    google_place_id: ChIJFzfDtmDzAogRn0zn9LJaP_A
                    google_place_serial: "17311655217294953631"
                    latitude: "44.6287490000000000"
                    longitude: "-88.0623510000000000"
                    place_url: https://maps.google.com/?cid=17311655217294953631&g_mp=CiVnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLkdldFBsYWNlEAIYBCAA
                    map_url: https://www.google.com/maps/search/A-Rite Construction and
                      Roofing/@44.6287490000000000,-88.0623510000000000,21z/data=!3m1!4b1
                    name: A-Rite Construction and Roofing
                    address: 3134 Trenton Ln, Green Bay, WI 54313, USA
                    phone: +1 920-228-2239
                    website_url: https://www.a-rite.com/
                    thumbnail_url: https://maps.google.com/maps/contrib/https://lh3.googleusercontent.com/a-/ALV-UjVM1ef4Wewc7-GsPRuqZkmeHafyyEBotSwPugYVtEEV2SVzSZ8=s100-p-k-no-mo
                    feature_id: null
                    review_count: 1
                    ave_review_rating: 5
                    ranking: null
                    main_category: Roofing Contractor
                    related_categories:
                      - point of interest
                      - service
                      - establishment
                  google_location: null
                  lead_source_id: null
                properties:
                  id:
                    type: integer
                    example: 6501
                  place_id:
                    type: integer
                    example: 2795512
                  keywords:
                    type: array
                    example:
                      - plumbing
                      - general contractor
                      - electrician
                      - hvac
                    items:
                      type: string
                  name:
                    type: string
                    example: test no credits issue
                  grid_points:
                    type: array
                    example:
                      - lat: 28.174798245111
                        lng: -81.429216072674
                      - lat: 28.174798245111
                        lng: -81.457292244549
                      - lat: 28.198987716187
                        lng: -81.401139900799
                    items:
                      type: object
                      properties:
                        lat:
                          type: number
                          example: 28.174798245111
                        lng:
                          type: number
                          example: -81.429216072674
                  zoom_level:
                    type: string
                    example: null
                    nullable: true
                  lat:
                    type: number
                    example: 28.301844298972
                  lng:
                    type: number
                    example: -81.485368416424
                  radius:
                    type: integer
                    example: 2755
                  grid_size:
                    type: integer
                    example: 9
                  length_unit:
                    type: string
                    example: mi
                  draw_type:
                    type: string
                    example: squre
                  status:
                    type: string
                    example: active
                  stop_reason:
                    type: string
                    example: ""
                  schedule_config:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 54984
                      repeat_every:
                        type: integer
                        example: 5
                      repeat_type:
                        type: string
                        example: custom-month
                      repeat_on:
                        type: string
                        example: "0"
                      is_recurring:
                        type: integer
                        example: 0
                      recurring_count:
                        type: integer
                        example: -1
                      timezone:
                        type: string
                        example: +02:00
                      scheduled_at:
                        type: string
                        example: 2026-10-08T03:00:00.000000Z
                      last_schedule_ran_at:
                        type: string
                        example: null
                        nullable: true
                      delete_oldpost_on_recurring:
                        type: integer
                        example: 0
                      ai_recurring:
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        example: 2026-05-08T13:36:42.000000Z
                      updated_at:
                        type: string
                        example: 2026-05-08T13:36:42.000000Z
                      status:
                        type: string
                        example: active
                      stop_reason:
                        type: string
                        example: ""
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2795512
                      google_place_id:
                        type: string
                        example: ChIJFzfDtmDzAogRn0zn9LJaP_A
                      google_place_serial:
                        type: string
                        example: "17311655217294953631"
                      latitude:
                        type: string
                        example: "44.6287490000000000"
                      longitude:
                        type: string
                        example: "-88.0623510000000000"
                      place_url:
                        type: string
                        example: https://maps.google.com/?cid=17311655217294953631&g_mp=CiVnb29nbGUubWFwcy5wbGFjZXMudjEuUGxhY2VzLkdldFBsYWNlEAIYBCAA
                      map_url:
                        type: string
                        example: https://www.google.com/maps/search/A-Rite Construction and
                          Roofing/@44.6287490000000000,-88.0623510000000000,21z/data=!3m1!4b1
                      name:
                        type: string
                        example: A-Rite Construction and Roofing
                      address:
                        type: string
                        example: 3134 Trenton Ln, Green Bay, WI 54313, USA
                      phone:
                        type: string
                        example: +1 920-228-2239
                      website_url:
                        type: string
                        example: https://www.a-rite.com/
                      thumbnail_url:
                        type: string
                        example: https://maps.google.com/maps/contrib/https://lh3.googleusercontent.com/a-/ALV-UjVM1ef4Wewc7-GsPRuqZkmeHafyyEBotSwPugYVtEEV2SVzSZ8=s100-p-k-no-mo
                      feature_id:
                        type: string
                        example: null
                        nullable: true
                      review_count:
                        type: integer
                        example: 1
                      ave_review_rating:
                        type: integer
                        example: 5
                      ranking:
                        type: string
                        example: null
                        nullable: true
                      main_category:
                        type: string
                        example: Roofing Contractor
                      related_categories:
                        type: array
                        example:
                          - point of interest
                          - service
                          - establishment
                        items:
                          type: string
                  google_location:
                    type: string
                    example: null
                    nullable: true
                  lead_source_id:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Heatmap Schedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                heatmap_config:
                  type: object
                  description: Grid and place configuration for the heatmap.
                  example:
                    name: Weekly Roofing Check
                    place_id: 2795512
                    keywords:
                      - Plumbing
                      - general contractor
                      - electrician
                      - hvac
                    grid_points:
                      - lat: 28.174798245111
                        lng: -81.429216072674
                      - lat: 28.174798245111
                        lng: -81.457292244549
                      - lat: 28.198987716187
                        lng: -81.401139900799
                      - lat: 28.198987716187
                        lng: -81.429216072674
                      - lat: 28.198987716187
                        lng: -81.457292244549
                    lat: 28.301844298972
                    lng: -81.485368416424
                  properties:
                    grid_points:
                      type: array
                      description: Pre-computed grid point coordinates (min 1, max 169). Use the
                        [Generate grid
                        points](#tag/Heatmap-Points/POST/public/api/v1/heatmap/grid-points)
                        endpoint to compute these from a grid config.
                      example:
                        - lat: 28.174798245111
                          lng: -81.429216072674
                        - lat: 28.174798245111
                          lng: -81.457292244549
                        - lat: 28.198987716187
                          lng: -81.401139900799
                        - lat: 28.198987716187
                          lng: -81.429216072674
                        - lat: 28.198987716187
                          lng: -81.457292244549
                      items:
                        type: object
                        nullable: true
                        properties:
                          lat:
                            type: number
                            description: Latitude of the point.
                            example: 28.174798245111
                          lng:
                            type: number
                            description: Longitude of the point.
                            example: -81.429216072674
                        required:
                          - lat
                          - lng
                    name:
                      type: string
                      description: Schedule name.
                      example: Weekly Roofing Check
                    place_id:
                      type: integer
                      description: The heatmap place ID.
                      example: 2795512
                    keywords:
                      type: array
                      description: Keywords to search.
                      example:
                        - Plumbing
                        - general contractor
                        - electrician
                        - hvac
                      items:
                        type: string
                    location_id:
                      type: integer
                      description: optional Location ID to associate the schedule with.
                      example: 20
                    lead_source_id:
                      type: integer
                      description: optional Lead source / company ID.
                      example: 3
                    lat:
                      type: number
                      description: optional Grid center latitude (informational).
                      example: 28.301844298972
                    lng:
                      type: number
                      description: optional Grid center longitude (informational).
                      example: -81.485368416424
                  required:
                    - grid_points
                    - name
                    - place_id
                    - keywords
                schedule_config:
                  type: object
                  description: Recurrence settings for the schedule.
                  example:
                    repeat_type: custom-month
                    repeat_every: 5
                    schedule_hour_minute: 05:00
                    timezone: +02:00
                  properties:
                    repeat_type:
                      type: string
                      description: >-
                        Recurrence pattern. Each value has different
                        requirements for `repeat_every` and `repeat_on`:<br><br>

                        - `week` — runs once a week on a fixed day. **Requires**
                        `repeat_on` (1=Monday … 7=Sunday). `repeat_every` is
                        ignored.<br>
                          _Example: run every Monday → `repeat_type: "week", repeat_on: 1`_<br><br>
                        - `month` — runs once a month on a fixed calendar day.
                        **Requires** `repeat_on` (1–31). `repeat_every` is
                        ignored.<br>
                          _Example: run on the 15th of every month → `repeat_type: "month", repeat_on: 15`_<br><br>
                        - `custom-day` — runs every N days. **Requires**
                        `repeat_every` (≥ 1). `repeat_on` is ignored.<br>
                          _Example: run every 3 days → `repeat_type: "custom-day", repeat_every: 3`_<br><br>
                        - `custom-week` — runs every N weeks. **Requires**
                        `repeat_every` (≥ 1). `repeat_on` is ignored.<br>
                          _Example: run every 2 weeks → `repeat_type: "custom-week", repeat_every: 2`_<br><br>
                        - `custom-month` — runs every N months. **Requires**
                        `repeat_every` (≥ 1). `repeat_on` is ignored.<br>
                          _Example: run every 6 months → `repeat_type: "custom-month", repeat_every: 6`_
                      example: custom-month
                    repeat_every:
                      type: integer
                      description: optional Required when `repeat_type` is `custom-day`,
                        `custom-week`, or `custom-month`. Specifies the interval
                        between runs (minimum 1). Ignored for `week` and
                        `month`.
                      example: 5
                    repeat_on:
                      type: integer
                      description: "optional Required when `repeat_type` is `week` or `month`. For
                        `week`: day of the week where 1=Monday and 7=Sunday. For
                        `month`: day of the calendar month (1–31). Ignored for
                        `custom-*` types."
                      example: 1
                    schedule_hour_minute:
                      type: string
                      description: optional Time of day to run the schedule in `HH:MM` 24-hour format.
                        Defaults to `12:00`.
                      example: 05:00
                    timezone:
                      type: string
                      description: optional Timezone for the schedule. Accepts an IANA timezone name
                        (e.g. `America/Chicago`) or a UTC offset (e.g.
                        `+02:00`). Defaults to `UTC`.
                      example: +02:00
                  required:
                    - repeat_type
              required:
                - heatmap_config
                - schedule_config
  /public/api/v1/heatmap/schedules/{schedule}:
    get:
      summary: Get schedule
      operationId: getSchedule
      description: Returns full details of a single heatmap schedule including its
        configuration and next run time.
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 6491
                  place_id: 2791188
                  keywords:
                    - wesd
                    - sfdgf
                  name: test
                  grid_points:
                    - lat: "45.4437215463450000"
                      lng: "-122.7223487981700000"
                    - lat: "45.4581844224160000"
                      lng: "-122.7223487981700000"
                    - lat: "45.4726472984870000"
                      lng: "-122.7223487981700000"
                    - lat: "45.4871101745580000"
                      lng: "-122.7223487981700000"
                    - lat: "45.5015730506290000"
                      lng: "-122.7223487981700000"
                  zoom_level: null
                  lat: "45.5015435"
                  lng: "-122.6398935"
                  radius: 1610
                  grid_size: 9
                  length_unit: m
                  draw_type: null
                  status: active
                  stop_reason: ""
                  schedule_config:
                    id: 54974
                    repeat_every: 0
                    repeat_type: week
                    repeat_on: "1"
                    is_recurring: 0
                    recurring_count: -1
                    timezone: US/Eastern
                    scheduled_at: 2026-04-06 12:13:00
                    last_schedule_ran_at: null
                    delete_oldpost_on_recurring: 0
                    ai_recurring: 0
                    created_at: 2026-03-30T10:13:48.000000Z
                    updated_at: 2026-03-30T10:13:48.000000Z
                    status: active
                    stop_reason: ""
                  place:
                    id: 2791188
                    google_place_id: ChIJ0zm3g3ISK4cROyw4xbkIVAc
                    google_place_serial: "528056650279955515"
                    latitude: "33.4745580000000000"
                    longitude: "-112.1261140000000000"
                    place_url: https://www.google.com/maps/preview/place/Camelback+Moving,+2330+N+31st+Ave,+Phoenix,+AZ+85009,+United+States/@33.474558,-112.126114,3328a,13.1y/data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                    map_url: https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                    name: Camelback Moving
                    address: 2330 N 31st Ave, Phoenix, AZ 85009, United States
                    phone: "+16025842783"
                    website_url: https://camelbackmoving.com/%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3DPhoenixGBP
                    thumbnail_url: https://lh3.googleusercontent.com/gps-cs-s/APNQkAHqE6U0kkIdJegAFFx4_2EB8RZHcvkCSe46zKQw0ysVI69XPX2VIr2NyiC2glIsr0d8LY2mGgt4gBCLis8v5-7lckStN_ec9SeHH5joSlIsRTuRIWon4Af2kx67qIDib0LFcogS=w408-h258-k-no
                    feature_id: 0x872b127283b739d3:0x75408b9c5382c3b
                    review_count: 1174
                    ave_review_rating: 4.8
                    ranking: null
                    main_category: Mover
                    related_categories:
                      - Moving and storage service
                      - Piano moving service
                  google_location: null
                  lead_source_id: null
                properties:
                  id:
                    type: integer
                    example: 6491
                  place_id:
                    type: integer
                    example: 2791188
                  keywords:
                    type: array
                    example:
                      - wesd
                      - sfdgf
                    items:
                      type: string
                  name:
                    type: string
                    example: test
                  grid_points:
                    type: array
                    example:
                      - lat: "45.4437215463450000"
                        lng: "-122.7223487981700000"
                      - lat: "45.4581844224160000"
                        lng: "-122.7223487981700000"
                      - lat: "45.4726472984870000"
                        lng: "-122.7223487981700000"
                      - lat: "45.4871101745580000"
                        lng: "-122.7223487981700000"
                      - lat: "45.5015730506290000"
                        lng: "-122.7223487981700000"
                    items:
                      type: object
                      properties:
                        lat:
                          type: string
                          example: "45.4437215463450000"
                        lng:
                          type: string
                          example: "-122.7223487981700000"
                  zoom_level:
                    type: string
                    example: null
                    nullable: true
                  lat:
                    type: string
                    example: "45.5015435"
                  lng:
                    type: string
                    example: "-122.6398935"
                  radius:
                    type: integer
                    example: 1610
                  grid_size:
                    type: integer
                    example: 9
                  length_unit:
                    type: string
                    example: m
                  draw_type:
                    type: string
                    example: null
                    nullable: true
                  status:
                    type: string
                    example: active
                  stop_reason:
                    type: string
                    example: ""
                  schedule_config:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 54974
                      repeat_every:
                        type: integer
                        example: 0
                      repeat_type:
                        type: string
                        example: week
                      repeat_on:
                        type: string
                        example: "1"
                      is_recurring:
                        type: integer
                        example: 0
                      recurring_count:
                        type: integer
                        example: -1
                      timezone:
                        type: string
                        example: US/Eastern
                      scheduled_at:
                        type: string
                        example: 2026-04-06 12:13:00
                      last_schedule_ran_at:
                        type: string
                        example: null
                        nullable: true
                      delete_oldpost_on_recurring:
                        type: integer
                        example: 0
                      ai_recurring:
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        example: 2026-03-30T10:13:48.000000Z
                      updated_at:
                        type: string
                        example: 2026-03-30T10:13:48.000000Z
                      status:
                        type: string
                        example: active
                      stop_reason:
                        type: string
                        example: ""
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2791188
                      google_place_id:
                        type: string
                        example: ChIJ0zm3g3ISK4cROyw4xbkIVAc
                      google_place_serial:
                        type: string
                        example: "528056650279955515"
                      latitude:
                        type: string
                        example: "33.4745580000000000"
                      longitude:
                        type: string
                        example: "-112.1261140000000000"
                      place_url:
                        type: string
                        example: https://www.google.com/maps/preview/place/Camelback+Moving,+2330+N+31st+Ave,+Phoenix,+AZ+85009,+United+States/@33.474558,-112.126114,3328a,13.1y/data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                      map_url:
                        type: string
                        example: https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                      name:
                        type: string
                        example: Camelback Moving
                      address:
                        type: string
                        example: 2330 N 31st Ave, Phoenix, AZ 85009, United States
                      phone:
                        type: string
                        example: "+16025842783"
                      website_url:
                        type: string
                        example: https://camelbackmoving.com/%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3DPhoenixGBP
                      thumbnail_url:
                        type: string
                        example: https://lh3.googleusercontent.com/gps-cs-s/APNQkAHqE6U0kkIdJegAFFx4_2EB8RZHcvkCSe46zKQw0ysVI69XPX2VIr2NyiC2glIsr0d8LY2mGgt4gBCLis8v5-7lckStN_ec9SeHH5joSlIsRTuRIWon4Af2kx67qIDib0LFcogS=w408-h258-k-no
                      feature_id:
                        type: string
                        example: 0x872b127283b739d3:0x75408b9c5382c3b
                      review_count:
                        type: integer
                        example: 1174
                      ave_review_rating:
                        type: number
                        example: 4.8
                      ranking:
                        type: string
                        example: null
                        nullable: true
                      main_category:
                        type: string
                        example: Mover
                      related_categories:
                        type: array
                        example:
                          - Moving and storage service
                          - Piano moving service
                        items:
                          type: string
                  google_location:
                    type: string
                    example: null
                    nullable: true
                  lead_source_id:
                    type: string
                    example: null
                    nullable: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                example:
                  message: No results found.
                properties:
                  message:
                    type: string
                    example: No results found.
      tags:
        - Heatmap Schedules
    parameters:
      - in: path
        name: schedule
        description: The schedule ID.
        example: 10
        required: true
        schema:
          type: integer
  /public/api/v1/heatmap/schedules/{schedule_id}:
    patch:
      summary: Update schedule
      operationId: updateSchedule
      description: Updates the grid configuration and/or recurrence settings of an
        existing schedule.
      parameters: []
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 6491
                  place_id: 2791188
                  keywords:
                    - plumbing
                    - general contractor
                    - electrician
                    - hvac
                  name: test no credits issue
                  grid_points:
                    - lat: 28.174798245111
                      lng: -81.429216072674
                    - lat: 28.174798245111
                      lng: -81.457292244549
                    - lat: 28.198987716187
                      lng: -81.401139900799
                  zoom_level: null
                  lat: 28.301844298972
                  lng: -81.485368416424
                  radius: 2755
                  grid_size: 9
                  length_unit: mi
                  draw_type: squre
                  status: active
                  stop_reason: ""
                  schedule_config:
                    id: 54974
                    repeat_every: 5
                    repeat_type: custom-month
                    repeat_on: 0
                    is_recurring: 0
                    recurring_count: -1
                    timezone: +02:00
                    scheduled_at: 2026-05-09 05:00:00
                    last_schedule_ran_at: null
                    delete_oldpost_on_recurring: 0
                    ai_recurring: 0
                    created_at: 2026-03-30T10:13:48.000000Z
                    updated_at: 2026-05-09T06:59:07.000000Z
                    status: active
                    stop_reason: ""
                  place:
                    id: 2791188
                    google_place_id: ChIJ0zm3g3ISK4cROyw4xbkIVAc
                    google_place_serial: "528056650279955515"
                    latitude: "33.4745580000000000"
                    longitude: "-112.1261140000000000"
                    place_url: https://www.google.com/maps/preview/place/Camelback+Moving,+2330+N+31st+Ave,+Phoenix,+AZ+85009,+United+States/@33.474558,-112.126114,3328a,13.1y/data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                    map_url: https://www.google.com/maps/place//data=!4m2!3m1!1s0x872b127283b739d3:0x75408b9c5382c3b
                    name: Camelback Moving
                    address: 2330 N 31st Ave, Phoenix, AZ 85009, United States
                    phone: "+16025842783"
                    website_url: https://camelbackmoving.com/%3Futm_source%3Dgoogle%26utm_medium%3Dorganic%26utm_campaign%3DPhoenixGBP
                    thumbnail_url: https://lh3.googleusercontent.com/gps-cs-s/APNQkAHqE6U0kkIdJegAFFx4_2EB8RZHcvkCSe46zKQw0ysVI69XPX2VIr2NyiC2glIsr0d8LY2mGgt4gBCLis8v5-7lckStN_ec9SeHH5joSlIsRTuRIWon4Af2kx67qIDib0LFcogS=w408-h258-k-no
                    feature_id: 0x872b127283b739d3:0x75408b9c5382c3b
                    review_count: 1174
                    ave_review_rating: 4.8
                    ranking: null
                    main_category: Mover
                    related_categories:
                      - Moving and storage service
                      - Piano moving service
                  google_location: null
                  lead_source_id: null
                properties:
                  id:
                    type: integer
                    example: 6491
                  place_id:
                    type: integer
                    example: 2791188
                  keywords:
                    type: array
                    example:
                      - plumbing
                      - general contractor
                      - electrician
                      - hvac
                    items:
                      type: string
                  name:
                    type: string
                    example: test no credits issue
                  grid_points:
                    type: array
                    example:
                      - lat: 28.174798245111
                        lng: -81.429216072674
                      - lat: 28.174798245111
                        lng: -81.457292244549
                      - lat: 28.198987716187
                        lng: -81.401139900799
                    items:
                      type: object
                      properties:
                        lat:
                          type: number
                          example: 28.174798245111
                        lng:
                          type: number
                          example: -81.429216072674
                  zoom_level:
                    type: string
                    example: null
                    nullable: true
                  lat:
                    type: number
                    example: 28.301844298972
                  lng:
                    type: number
                    example: -81.485368416424
                  radius:
                    type: integer
                    example: 2755
                  grid_size:
                    type: integer
                    example: 9
                  length_unit:
                    type: string
                    example: mi
                  draw_type:
                    type: string
                    example: squre
                  status:
                    type: string
                    example: active
                  stop_reason:
                    type: string
                    example: ""
                  schedule_config:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 54974
                      repeat_every:
                        type: integer
                        example: 5
                      repeat_type:
                        type: string
                        example: custom-month
                      repeat_on:
                        type: integer
                        example: 0
                      is_recurring:
                        type: integer
                        example: 0
                      recurring_count:
                        type: integer
                        example: -1
                      timezone:
                        type: string
                        example: +02:00
                      scheduled_at:
                        type: string
                        example: 2026-05-09 05:00:00
                      last_schedule_ran_at:
                        type: string
                        example: null
                        nullable: true
                      delete_oldpost_on_recurring:
                        type: integer
                        example: 0
                      ai_recurring:
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        example: 2026-03-30T10:13:48.000000Z
                      updated_at:
                        type: string
                        example: 2026-05-09T06:59:07.000000Z
                      status:
                        type: string
                        example: active
                      stop_reason:
                        type: string
                        example: ""
                  place:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2791188
                      google_place_id:
                        type: string
                        example: ChIJ0zm3g3ISK4cROyw4xbkIVAc
[...]
